[2017-02-02 14:18] titaniumbones opened #1 "update mega.nz folders"
@dcwalk you said we can check mega.nz folders for updates using one of the megatools commands -- can you confirm/drop the appropriate command in here?

[2017-02-02 14:35] titaniumbones opened #2 "Describe Page Freezer zip formats"
Each Page Freezer archive for a domain BASEURL consists of a zipfile with the following structure:

Base URL is
`storage/export/climate/BASEURL_NUMERICALID_YYYY-MM-DD/http[s]_URL/`

inside this you'll find a file:
`http[s]_URL_MM_DD_YYYY.xml`

and a directory
`MM_DD_YYYY/`
potentially containing multiple subdirs of the form:
`http[s]_URL`
where URL is either the BASEURL or an external domain canta

[2017-02-02 14:39] titaniumbones opened #3 "Locate Diff service docs!"
~@ambergman @trinberg I think this might be for one of you, or else for me ASAP.~ no longer relevant.

[2017-02-02 15:25] titaniumbones opened #4 "efficient diff-based storage for archives"
It's notimmediately obvious how to turn our giant stores of files into diffs so that we can minimize file storage/transfer issues. At present we have lots of data duplication.  Looking for a data engineer here I think.

[2017-02-02 15:33] titaniumbones opened #5 "real README"
um, let's have a real README which is maybe a fleshed-out version of https://github.com/edgi-govdata-archiving/DataRescueNYC/blob/master/next-steps.md

[2017-02-02 16:39] atesgoral commented on #4
I'm no data storage expert, but a layered/union file system could potentially help.

https://docs.docker.com/engine/userguide/storagedriver/aufs-driver/
https://en.wikipedia.org/wiki/Aufs
https://en.wikipedia.org/wiki/OverlayFS

[2017-02-03 05:58] titaniumbones commented on #4
agreed. do you know wwhatthe performance penalty for using such a file
system is?

On 02/02/2017 11:39 AM, Ates Goral wrote:

[2017-02-03 15:49] titaniumbones commented on #5
we'll call that done I guess.

[2017-02-03 15:49] #5 closed

[2017-02-06 04:10] lh00000000 commented on #4
is the problem limited storage capacity? since it seems like diffs between a snapshot a long time ago and a snapshot a long time + a day ago won't be as relevant as diffs between the latest snapshot and the second-to-latest snapshot, maybe some kind of strategy that archives snapshots to cheaper places like aws glacier (or s3 'Infrequent Access") in an automated way might be an alternative? keepin

[2017-02-09 21:37] dcwalk commented on #3
Closing as completed!

[2017-02-09 21:37] #3 closed

[2017-02-09 21:39] dcwalk commented on #1
Are we still looking for a way to check a mega folder to see what has changed? I thought we wanted to make sure everything was grabbed but once it was pulled down we wouldn't be using megatools again?

https://github.com/megous/megatools
https://megatools.megous.com/man/megals.html
https://megatools.megous.com/man/megadl.html

[2017-02-10 01:59] danielballan opened #16 "Summary of my understanding of the task based on group call"
I invite others to comment on or edit the following. After discussion maybe it can more to a README or somewhere more permanent. Apologies if it duplicates info available elsewhere.

There is a spreadsheet with a list of 30 000 URLs of government web pages of interest. The pages at these URLS are captured every ~3 days for PageFreezer. Roughly ~80% of these URLs happen to be on the same ~150 domai

[2017-02-10 07:49] ambergman commented on #16
Thanks so much for the summary @danielballan. Just added a little to the "Current Workflow" section, but I think it looks good, and I'm sorry I've been slow to get this workflow described so that the new tools being developed can fit in well. Definitely like the idea of getting it into a README - hopefully by the end of the weekend.

[2017-02-10 08:05] ambergman opened #17 "Build PageFreezer-Outputter that fits into current Versionista workflow"
To replicate the Versionista workflow with the new PageFreezer archives, we need a little module that takes as input a diff already returned (either by PageFreezer's server or another diff service we build), and simply outputs a row in a CSV, as our [versionista-outputter](https://github.com/edgi-govdata-archiving/versionista-outputter) already does. If a particular URL has not been altered, then

[2017-02-10 08:17] ambergman opened #18 "Use PageFreezer archives to generate a diff for the PageFreezer-Outputter"
Build a simple module that takes as input a URL and two timestamps (referring to two different archived versions of a page) and outputs a diff for the [PageFreezer-Outputter](https://github.com/edgi-govdata-archiving/pagefreezer-cli/issues/17). This can be done by pinging PageFreezer's diff server or using another module. See a discussion of what we know about PageFreezer's diff server and other d

[2017-02-10 08:20] ambergman opened #19 "Create diff visualization for analyst use"
The completed [PageFreezer-Outputter](https://github.com/edgi-govdata-archiving/pagefreezer-cli/issues/17) will output information about diffs to a series of CSVs and have a column containing a link to a visualization of the diff, for analysts to use when labeling the significance of page changes.

[This module](https://github.com/edgi-govdata-archiving/pagefreezer-cli/tree/master/interface), bein

[2017-02-10 15:07] allanpichardo commented on #17
From what I've observed with the Pagefreezer API, taking a diff of 2 pages takes an average of 5 seconds. If there are ~ 30,000 pages to monitor,  then pagefreezer is probably not the most appropriate diff service for this task. I think the main bottleneck in Pagefreezer is that they transcode the diff information into HTML for every request. I have run similar diffs on my machine using Git diff a

[2017-02-10 15:14] titaniumbones commented on #17
I love the idea. Question : what if the HTML (DOM) context is what tells us whether a diff is significant?

On February 10, 2017 10:07:57 AM EST, Allan Pichardo <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-02-10 15:29] allanpichardo commented on #17
@titaniumbones Yeah, I suspect that it will. If we do this with Node.js, then we have the option of using jQuery to parse the HTML archives. We can determine that certain HTML nodes are insignificant, such as `<head meta> ` for example or `<rel type="stylesheet">` etc etc... Therefore, at the time that an archive is loaded from disk, then the CLI uses jQuery to delete such nodes from the text blob

[2017-02-10 16:28] ambergman commented on #17
@allanpichardo Really disappointing to hear the PageFreezer API moves so slow but, as you've described, it seems like we have plenty of of other options (and, of course, we always new we had git as a backup). Your 1-3 above sound really great, and I think it makes perfect sense, as you said in point 3, to only parse the diff in the visualizer when it's called back up by an analyst.

Regarding you

[2017-02-10 16:29] ambergman commented on #19
Wanted to add, as I mentioned in issue #17: Would also be great to have a couple of different visualization options, perhaps a "side-by-side" or "in-line" page view for changes, but then also a "changes only" view (very useful for huge pages with only a few changes. I'll write something about that in issue #19, the visualization issue, as well.

I'll add some screenshots later, when not in transit

[2017-02-10 17:00] titaniumbones commented on #17
I think this is great.  In yr opinion are there pieces of this I should ask folks to work on in SF tomorrow?

On February 10, 2017 10:29:33 AM EST, Allan Pichardo <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-02-10 17:15] allanpichardo commented on #17
@ambergman Yes, here's what I see overall at a high level,

I understand that the 30,000 URLs are kept in the spreadsheet. Those are live URLs. Where are the previous versions archived? Is it held remotely on another server?

I ask because if it's possible to have a structure such that:

1. There is a directory which holds the last known HTML of each page and each filename, for simplicity, could b

[2017-02-10 17:40] titaniumbones commented on #17
Allan Pichardo <notifications@github.com> writes:

We don't know where the long-term storage will be. We have talked to a
bunch of differnt sponsors about this and have not been able to get a
firm commitment from anyone yet. For now they are stored on a cluster
that's not entirely easy to access from the web. I've exposed the
zipfile for the 30,000 (actually for some reason there are 2 zipfiles,
o

[2017-02-10 18:20] titaniumbones opened #20 "abandon PageFreezer Diff API for now?"
Given the limitations (10k hits/day, 5s/response, no batch processing) should we stop trying to use the PF diffapi for the time being, and maybe revisit this question later on? We can still use their api''s JSON format for our own outputs if we want, or we can add the additional diff streams that @lh00000000 has been talked about. Then if we decide to go back to their format later on, we can drop

[2017-02-10 20:30] allanpichardo commented on #17
@titaniumbones the directory structure from the zip files will work because the url is preserved in the file structure. So, it seems that the directories per domain mirror the exact directory structure that is remote. So this is good for knowing what compares to what. The only issue is that the archives come with a lot of other files that we don't need, but that's OK, for this purpose, we can just

[2017-02-10 23:41] lh00000000 commented on #17
concerns
1. how will this address sites with dynamically loaded (e.g. react js) content?
2. i suspect the pagefreezer isn't really "slow". my guess is that the main causes for latency are network (nontrivial payloads sent to them), and that they might be running the pages in a headless browser and using a few seconds to allow clientside stuff to happen (in my experience, a lot of sites have low-pr

[2017-02-11 00:06] titaniumbones commented on #16
I wrote this on the plane and it looks to me like it's a little out of date now, but since I wrote my next-steps doc on the basis of it, cheking in here for feedback. I'll try to get my doc into a hackmd pad so folks can edit it

---

For tier 1, how is this summary of the architecture we need:

* **pf-diff:** command-line service capable of carrying out diffs on ca. 10^4 pages at a time. Ouputs J

[2017-02-11 00:07] titaniumbones commented on #4
also written on the plane and a little out of doubt, but, well, still posting:

----

@lh00000000 Sorry I missed this in a flood of notifications. Interesting idea. hmm. I'm wondering how common the situation is, in which an analyst will want to consult a long time series of diffs, and how expensive that would be to access.

I think time series data will be of interest to social scientists eventua

[2017-02-13 18:23] leepro commented on #17
FYI. I am from Pagefreezer. To make clear on the slowness of our Diff API, I would like to give some idea on it. As @allanpichardo mentioned, one API calls takes around avg 5 sec. Actually, it is due to the network latency of AWS Lambda / API Gateway. For the purpose of this project, we took the diff service from our production and made a AWS Lambda version.

Our internal benchmark is as follows:

[2017-02-14 00:50] mriedijk commented on #17
Consider bulk-uploading the HTML pages to AWS first before you use the PageFreezer Diff service, it may decrease the network latency.

[2017-02-14 20:50] danielballan commented on #20
I think a rag-tag team of volunteers will have trouble beating their performance when all things are considered, particularly given [this comment](https://github.com/edgi-govdata-archiving/pagefreezer-cli/issues/17#issuecomment-279477198). But it definitely doesn't hurt to design this in a way that's pluggable.

[2017-02-17 23:34] mekarpeles commented on #17
Have you folks talked to @markjohngraham about how some of these html diff problems are (or could be addressed) in the Wayback Machine -- web.archive.org?

[2017-02-17 23:37] mekarpeles commented on #17
Also, in terms of long-term storage, has Internet Archive's S3 API been considered? https://github.com/vmbrasseur/IAS3API

[2017-02-18 01:58] titaniumbones commented on #17
@mekarpeles have not talked to markjohngraham, but we've been talking to Jefferson a little about IA as the end-game for this effort. Haven't got into the nitty-gritty, but clearly IA seems like the best home for this effort in the long run!

sorry to have missed you in SF! was looking forward to meeting you but missed the connection somehow.

[2017-02-18 02:05] mekarpeles commented on #17
As long as everything gets backed up and the community is able to find a way to produce a registry so other institutions can cross-check and participate, I'm a super happy camper! Very thankful for your + team's efforts. Sorry to have missed you in SF as well! @flyingzumwalt had great things to say about you :)

[2017-02-21 22:04] titaniumbones opened #23 "Rename Repo"
Rename this repo to something more accurate & meaningful, e.g., "EDGI Web Monitoring Software".

[2017-02-21 22:16] titaniumbones opened #24 "move filtration issues to this repo"
`filtration` currently has filter-related issues but no code. We should move those issues to this repo & deprecate `filtration`.

[2017-02-21 22:25] titaniumbones opened #25 "co-ordinate UI work"
We have a number of people working on UI-related code (@agillette, @allanpichardo, @lightandluck). We also have some designers, and some users (@ambergman, @trinberg, @mayaad). Work on this module should proceed in a co-ordinated way with input from all of hte above as appropriate!

[2017-02-21 22:27] titaniumbones opened #26 "Determine status of `page_freezer_python_module`"
@stuartlynn and @danielballan, what is the status of `page_freezer_python_module`? Should we continue to use it as a skeleton for the overall app, or discard it?

[2017-02-21 22:30] titaniumbones opened #27 "restart work on text-only filter"
a text-only view of changes has been identified as strongly desirable. Is `get_article_text` still a good place to start?

[2017-02-21 22:30] dcwalk commented on #24
We might want to contact GH support on this and see if they can complete the transfer while preserving the creation history?

[2017-02-21 22:31] dcwalk commented on #23
I agree! Would be nice to have this be clearly the landing place for the web monitoring project

[2017-02-21 23:58] lightandluck commented on #25
Sounds good, thanks Matt! I'd like to introduce myself because I haven't met anyone else on this thread. My name is Kevin. I'm a front end dev recently moved to the Bay Area, originally from San Diego. I like designing interfaces that make people's lives easier. I was at the SF Bay Data Rescue event 2 weeks ago and am volunteering to help design and code the UI. Thanks and nice to meet everyone!

[2017-02-22 13:30] danielballan commented on #26
I don't think @stuartlynn or I are attached to that work: we were just exploring the PageFreezer results using pandas. But let's leave it there in case we use some part of it in the skeleton of a web backend.

[2017-02-22 14:20] danielballan opened #28 "Coordinate backend work"
To reiterate and elaborate on a plan I presented during last night's call:

To date, a lot of the developer effort on the version tracking project has landed in disparate repositories, building from scratch. I would like to pull together the work done so far into a minimally-functional web app in this repository. I intend to write only the minimum required new code to glue things together; this wi

[2017-02-22 15:02] danielballan commented on #23
+1 for `monitoring` or `web-monitoring`

[2017-02-22 15:48] stuartlynn commented on #26
Hey. I think the class we built is actually a good starting place to build some convenience methods for the API and to do some format/tracking and applying of different change stats. Happy to discuss it more but haven't had a chance to update the code since the event

[2017-02-22 15:49] danielballan commented on #28
Notes:
One important thing to capture: @allanpichardo's work and request structure implemented here: https://github.com/lightandluck/pagefreezer-cli/blob/34c8f2825138c1f92a435d3b5d78b601d229cafa/interface/app.js

[2017-02-22 15:53] allanpichardo commented on #28
@danielballan If you need any help, I'd be glad to. I just don't have enough time to coordinate it. However, if you can figure out an architecture that would work to put all these pieces together, let me know.

Are we going to go with pagefreezer the whole way? Or is there another module that works off of git?

[2017-02-22 15:59] danielballan commented on #28
Great, thanks for chiming in. I'll keep posting my thought process on here, and I welcome any input you have time to give.

My sense from recent discussions is that PageFreezer is the place to start, but we should aim to keep the diff-computation aspect pluggable.

[2017-02-22 16:02] danielballan commented on #26
OK, sounds good. I'm trying to wrap my head around all of the disparate work that's been done [over here](https://github.com/edgi-govdata-archiving/pagefreezer-cli/issues/28).

[2017-02-22 16:04] allanpichardo commented on #28
@danielballan I agree. It would be great if someone could work on a module that computes diffs through git and returns it as both a JSON response in the same format as pagefreezer, and can save a text file to disk. This way, that module can be easily substituted in and it can also be run in a background process to monitor pages.

[2017-02-22 17:07] dcwalk commented on #23
Going to +1 @danielballan's `web-monitoring`

[2017-02-22 17:09] titaniumbones commented on #28
@allanpichardo I htink the differ module (currently in its own repo) does just what you suggest:
https://github.com/edgi-govdata-archiving/differ

I agree PageFreezer is the place to start. Right now PF's service doens't return multiple diff "streams" (full html pages + html chunks + text-only changes) which was identified as desirable in NYC. Analysts have also asked for multiple diff views, incl

[2017-02-22 17:13] titaniumbones commented on #23
I'll rename to `web-monitoring` tonight unless someone speaks up against it.

[2017-02-22 17:56] trinberg commented on #25
Per @danielballan's suggestion - I wanted to share a tutorial video, led by @mayaad, that explains the website tracking team's current workflow: https://www.dropbox.com/s/ciixvu612ktf4nt/new_tracking_training.mp4?dl=0

It's 50 minutes and details how the team of analysts is going to screen through changes that Versionista flags and how they will classify each page diff as having significant/insign

[2017-02-22 20:27] danielballan commented on #25
@lightandluck It's great to have you working on this! FYI, I am basing my work in #28 on your `ui_mockup` branch. As I wrote over there, I'm leaning toward a Python backend as opposed to node because I think it will easier for data science-y types to contribute, but I'm hoping to leave the UI stuff as is. As an example, JupyterHub is architected similarly (Python server + TypeScript front-end).

@

[2017-02-23 13:16] titaniumbones commented on #23
renamed!

[2017-02-23 13:16] #23 closed

[2017-02-23 21:57] lightandluck commented on #25
@trinberg This is just what we needed, thanks! I'll put up the mockup online somewhere later tonight, so the analyst team can see it. I'll also write up what my understanding of the process was and motivations for what's in the UI. We can discuss what lines up with the actual process and figure out what can be carried over to the next iteration and how to improve.

@danielballan Glad to be of help

[2017-02-23 22:00] dcwalk commented on #25
@ambergman ^^ RE: next steps for UI

[2017-02-24 09:46] ambergman opened #29 "Integrate web monitoring diff database efforts"
Wanted to summarize my thoughts here after a great conversation with @danielballan last night and hearing about the great work he and @Mr0grog are doing to coordinate their efforts. Apologies to @Mr0grog, @danielballan, and others if this issue frustrates work at all - happy to take it down and let you all lead:

The conversation about building EDGI's web monitoring software, and a diff database i

[2017-02-24 15:52] danielballan commented on #29
Thinking on this since our conversation last night, I've become convinced that @Mr0grog and I should integrate our efforts starting now, and I have a proposal for how that could work. We need one working prototype that speaks Versionista and PageFreezer and serves as a target for both fly-by contributions at future events and more sustained maintenance from the community. Here's my pitch:

* Imple

[2017-02-24 17:21] danielballan commented on #28
This issue has been superceded by ongoing conversation in #29. Closing.

[2017-02-24 17:21] #28 closed

[2017-02-24 18:28] Mr0grog commented on #29
Ha, and here I was becoming more certain of the opposite after our discussion, @danielballan!

Some thoughts: I totally agree that these things should ultimately be integrated, but because handling the two sources carry *very* different technical needs (and potentially also different differing characteristics affecting their ideal end use), I think it’s *good* that they develop separately for now.

[2017-02-24 19:40] danielballan commented on #29
OK, I think we're on about the same page. Your point about getting a handle on the respective APIs first is well taken.

By "integrate our efforts," I mean "define mostly non-overlapping scopes for the two components so combining them doesn't mean throwing away very much code." Each project can continue to develop semi-independently. But instead of planning a transition where we deprecate the Vers

[2017-02-27 17:48] Mr0grog commented on #29
Ah! Sorry, I misunderstood.

Hmmmm, I like the idea of them operating similarly, but what we have for Versionista right now is pretty dodgy:

- It returns results in a format designed to be directly output as a human-readable CSV, which is not as organized or friendly as it could be to other *code.*
- The general idea it follows right now, which is a synchronous call to go get all the changes for

[2017-02-27 18:25] danielballan commented on #29
Great. Yeah, sorry for not expressing myself very clearly in the first pass. :- )

I think we're in agreement that aiming for compatibility at the database level is the way to go. Imitating a Versionista-like "API", even if it could be done, wouldn't be very helpful or worth the effort, so I think we can discard that idea.

Currently, we receive periodic data dumps from PageFreezer in a file-shari

[2017-02-27 18:28] souravsingh commented on #1
@dcwalk I am interested in working on the issue. How do I start?

[2017-02-27 19:33] Mr0grog commented on #29
Totally. Just wondering if there’s a way (in the medium-term future) for the app to receive an e-mail or webhook notification so nobody has to be a manual button-pusher.

[2017-02-27 22:08] danielballan commented on #24
Agreed.

If the structure we are discussing in #29 works out, we'll probably end up with two repos related to versioning: one that is mainly processing code and one that is mainly web code, linked by an agreed upon database schema.

[2017-02-27 22:11] danielballan commented on #29
I think that the way the data arrives will change once PF gets the Google storage set up. I expect we can work something out with them as soon as that's done.

[2017-02-28 22:18] titaniumbones commented on #1
Hi @soravsingh, thanks for your offer of help. I am going to close this issue as `won't fix` because we will very soon be moving to a new storage system. What else might you be interested in helping with?

[2017-02-28 22:18] #1 closed

[2017-03-03 08:16] sudk1896 opened #33 "Pagefreezer-api page link does not work in the README file."
The pagefreezer-api link given [here](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/pagefreezer-api.md) doesn't work (404 page not found).
I found one on the pagefreezer website given [here](https://www.pagefreezer.com/development/), although I don't know how helpful this would be and also the page is a bit dated, the API could have changed as well.
Kindly update the link

[2017-03-03 16:38] lightandluck commented on #33
Sorry, about that! We recently split off the UI project from the data processing project. You may be more interested in that [repo](https://github.com/edgi-govdata-archiving/web-monitoring-processing). The link you're looking for is [there](https://github.com/edgi-govdata-archiving/web-monitoring-processing/blob/master/pagefreezer-api.md). I'll be replacing the README completely to reflect the spl

[2017-03-03 17:21] danielballan commented on #33
During the NYC event, we looked for wrappers and found none. I wrote a Python function for a simple case [here](https://github.com/edgi-govdata-archiving/web-monitoring-processing/blob/master/web_monitoring/db.py#L387). Also see [here](https://github.com/edgi-govdata-archiving/web-monitoring-processing/tree/master/page_freezer_python_module).

[2017-03-03 17:48] #33 closed

[2017-03-03 17:50] danielballan commented on #26
I'm going to close this issue. The Python module is [part of the `web-monitoring-processing` repo](https://github.com/edgi-govdata-archiving/web-monitoring-processing).

[2017-03-03 17:50] #26 closed

[2017-03-03 18:46] dcwalk commented on #24
I've email GH support and asked if they can move the issues to `web-monitoring-processing`
 https://github.com/edgi-govdata-archiving/web-monitoring-processing/issues/1

[2017-03-06 15:13] dcwalk commented on #24
Closing this as complete, issues were moved to edgi-govdata-archiving/web-monitoring-processing

[2017-03-06 15:13] #24 closed

[2017-03-06 15:33] dcwalk opened #35 "Review mockups from Web Monitoring Analysts"
@ambergman has been working on exploring mockups with the website monitoring analysts, once those are provided there will need to be some review to see how they fit with prototyped UI.

(pulling this issue in from https://github.com/edgi-govdata-archiving/overview/issues/65)

[2017-03-06 20:31] dcwalk opened #37 "Confirm licensing"
Just noticing we have a different license block at the top of the interface files (e.g.-- **A** https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/36/files#diff-12aef008eea1b12de3c300b4d80d132e) than the license at the base of our repo (https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/LICENSE)

I think we want to be clear and consistent on this.

A:

[2017-03-06 20:57] dcwalk commented on #16
Closing as this has been moved to the main repo wiki: https://github.com/edgi-govdata-archiving/web-monitoring/wiki/Group-Call-Summary-2017-02-08

[2017-03-06 20:57] #16 closed

[2017-03-06 20:58] lightandluck commented on #37
Yea, that was put in by Allan when he started the code base. I'm not sure of the legality of removing it, because parts of his code are still there. Maybe @titaniumbones or @danielballan know better or can speak to him about removing it? I have never met him.

[2017-03-06 21:58] dcwalk commented on #37
Yeah, we need to clarify how we reconcile conflicting licenses.

[2017-03-06 22:11] dcwalk commented on #37
Yes, we cannot remove it. I am not qualified to gauge whether these are compatible licenses, but I am thinking this is an [informal license](https://www.gnu.org/licenses/license-list.html#GPLCompatibleLicenses) and they may be?

In that case we may be able to just update our copyright block and indicate there is an additional license for those parts of the code. (https://www.gnu.org/licenses/gpl-h

[2017-03-09 03:46] dcwalk commented on #2
This issue was moved to edgi-govdata-archiving/web-monitoring#7

[2017-03-09 03:46] #2 closed

[2017-03-09 03:47] dcwalk commented on #4
This issue was moved to edgi-govdata-archiving/web-monitoring#8

[2017-03-09 03:47] #4 closed

[2017-03-09 03:48] dcwalk commented on #17
This issue was moved to edgi-govdata-archiving/web-monitoring#9

[2017-03-09 03:48] #17 closed

[2017-03-09 03:48] dcwalk commented on #18
This issue was moved to edgi-govdata-archiving/web-monitoring#10

[2017-03-09 03:48] #18 closed

[2017-03-09 03:49] dcwalk commented on #20
This issue was moved to edgi-govdata-archiving/web-monitoring#11

[2017-03-09 03:49] #20 closed

[2017-03-09 03:50] dcwalk commented on #27
This issue was moved to edgi-govdata-archiving/web-monitoring#12

[2017-03-09 03:50] #27 closed

[2017-03-09 03:50] dcwalk commented on #29
This issue was moved to edgi-govdata-archiving/web-monitoring#13

[2017-03-09 03:50] #29 closed

[2017-03-09 04:02] dcwalk commented on #35
@ambergman could you update on this?

[2017-03-09 04:06] dcwalk commented on #19
This is a pretty big task. Maybe we could break up the steps to get there into a bunch of smaller tasks. I almost think we could treat this as like a "milestone tracking issue" in the web-monitoring repo, and have bite-sized issues in here

[2017-03-10 06:53] lightandluck opened #38 "Send record to important changes, "dictionary" db"
For an analyst, we want them to be able to push a button to send the record they are viewing to the data store that holds important changes or the "dictionary" for insignificant changes.

Currently, those records are stored in 2 google spreadsheets. This will probably change. It's uncertain whether we code up something that updates the google sheets for now, or create a db somewhere and update tha

[2017-03-10 06:56] lightandluck opened #39 "Add linter"
Add linter to project to maintain code consistency. Follow EDGI [guidelines](https://github.com/edgi-govdata-archiving/overview/blob/ce56269a111b2d733f42a98ca54e525b03ddd6f7/protocol/linting.md)

[2017-03-10 07:02] lightandluck opened #40 "Determine policy about deleting merged branches"
There are branches in the repo that have already been merged into master. Is there a policy of when and who is supposed to delete merged branches?

[2017-03-10 07:05] lightandluck opened #41 "Migrate to React frontend framework"
The project is progressing from proof-of-concept to working application. We should migrate to a frontend framework such as React or Angular instead of jQuery to handle data binding and views.

[2017-03-10 07:09] lightandluck opened #42 "Administration views and workflow"
Dependent on #35. When workflow is approved this will need to be mocked up and coded.

[2017-03-10 07:19] lightandluck opened #43 "User login"
Users need to be able to login and see only sites that they are monitoring. There is no db to hold user info. Current output from web-monitoring-db also has no user associated info. Not certain of what information about user should be stored.

[2017-03-11 05:40] kmcarter commented on #41
I'd love to be involved with this part of the project. I don't yet have everything I need to see the demo in action, but I already have a few ideas for directions to take, from what I've been able to see.

AngularJS or Angular 2? (I'm learning AngularJS for work right now, so I'm pretty new to Angular in general).

[2017-03-11 13:40] dcwalk commented on #41
Do we want to revisit https://github.com/edgi-govdata-archiving/webdiff-ui?

...rather than rolling something from scratch?

[2017-03-11 19:09] lightandluck commented on #41
Yes, this is definitely something that should be discussed and reach a consensus on. I'm also pretty new to modern tooling and frameworks so I'm not a good judge on what direction to take. @Mr0grog We discussed this briefly, you may have the most experience and can speak to a good architecture to use. I've only had experience with React, but Kelly, if you think you can migrate and help maintain th

[2017-03-11 20:16] kmcarter commented on #41
I will be at the standup, and I should have some time after to discuss further. I'll take a look at the webdiff-ui repo.

[2017-03-11 21:35] dcwalk commented on #41
Also, could be good to look at the broader skills we have in the EDGI community: the Archivers.space app is react + meteor.

[2017-03-11 23:28] kmcarter commented on #41
I'm a big proponent of using consistent tooling across an ecosystem where possible. I'm willing to learn React and Meteor to that end.

[2017-03-12 00:56] dcwalk commented on #41
We had lots of React buy-in at our Weekly Stand up! @lightandluck do you all have a path forward?

[2017-03-12 00:57] dcwalk commented on #39
Yeeeeaaah! I think this obviously depends on the framework per #41, but I think could be something moved on fairly quickly?

[2017-03-12 04:10] dcwalk commented on #40
I usually leave it as delete on merge! But stuff lingers and it winds up being a procrastination task :)

[2017-03-12 12:36] ambergman commented on #35
I apologize to everyone for the enormous delay in posting [these preliminary mockups of the Website Monitoring App](https://docs.google.com/presentation/d/1P9kPr-wPwoKbuhW3DHRfr_OeHyh9k1Avv_1vOH5U-Hg/edit#slide=id.p). These are based on my work on the website monitoring team and my first thoughts for a UI that could feasibly be built in the coming months, would mesh with the larger DB and processi

[2017-03-12 13:57] dcwalk commented on #35
@ambergman -- are you able to upload a higher quality version of the photos (outside of a presentation) to somewhere?

My eyes are a bit terrible... but I'm unable to read the annotation text in most pages

[2017-03-12 16:29] danielballan commented on #35
Yeah, I think transcribing the feature descriptions as you suggested would be useful.

[2017-03-12 20:35] lightandluck commented on #35
I'm also having a hard time reading it. Maybe re-scan at higher resolution and bump up the contrast a bit so the writing isn't as washed out? The way its presented works for me

[2017-03-12 20:46] lightandluck opened #44 "Incorporate services from processing and diff projects to create a diff view"
We need to look at work done in web-monitoring-processing and differ to see what can be incorporated in the app to actually visualize diffs. Currently the app only receives versionista links from web-monitoring-db, which are not embeddable, so users still have to click out to another website.

[2017-03-12 20:51] lightandluck commented on #41
@dcwalk Yes! I chatted with @agillette and @kmcarter separately after the meeting. I'm working on pruning the codebase of all dead code that's unnecessary, so they have less to wade through as they're reading it. Andy will take up migrating to React.

I gave Kelly an overview of the project, answered her questions, and she seems clear about the important aspects now. I'm sure I haven't been able t

[2017-03-12 22:26] dcwalk commented on #41
Amazing, y'all are awesome :)

[2017-03-14 00:41] ambergman commented on #35
I'm really sorry for the huge delay getting better images of the mockups out @dcwalk, @danielballan, @lightandluck, and everyone else. I really appreciate your patience. I was preparing some stuff for my trip down to Washington and then I was at an event here all day. As punishment for being so slow, I had the pleasure of going out to find a scanner (since my phone really wasn't getting decent res

[2017-03-15 06:57] ambergman commented on #19
Sorry for the slow response here @dcwalk. I think this issue is a little outdated, as I think it was initially specifically about creating a new Diff View, so that we weren't just using Versionista's, for our CSV interface. This has been solved now by @lightandluck's new Diff View (an updated version of which is [mockup up here](https://github.com/edgi-govdata-archiving/web-monitoring-ui/issues/35

[2017-03-17 14:13] danielballan commented on #35
@ambergman These are really beautifully done. Thanks for taking the time to pull together feedback.

[2017-03-20 14:47] lazywithclass commented on #39
I had a go at this, after running `gulp` I got

Anyway, I don't think that's going to affect this work, so I just proceeded adding the linter.

Please find the PR [here](https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/47), let me know if you would like me to change something.

[2017-03-22 18:42] danielballan commented on #44
Any ideas for where it would be easiest to start, on your side? For example, presenting the full HTML of each side by side?

[2017-05-18 21:25] danielballan commented on #35
A list of the views mocked up in the Dropbox, for easy reference:
* User Dashboard View
* List View
* Diff View
* Identical Diffs View
* Page History View

[2017-05-18 21:27] #25 closed

[2017-05-18 21:30] lightandluck commented on #35
[Presentation with annotations](https://docs.google.com/presentation/d/1zX2FtpRusbvUFESZgsaH4lkmNz7Yz8_T-65xS0tIuBU/edit#slide=id.g1b3b3a142b_0_20)

[2017-05-18 21:34] lightandluck commented on #19
This issue has been broken up into smaller tasks. Per ambergman's suggestion, closing.

[2017-05-18 21:34] #19 closed

[2017-05-18 21:48] danielballan commented on #44
Just to update anyone who reads this issue later, the web-monitoring-db app will have diff-related endpoints (one for UNIX-style text diff, one for PageFreezer style JSON response, potentially others in the future) that the UI can use. The -db will broker the diffs from other services (a work-in-progress in web-monitoring-processing repo).

[2017-05-18 22:41] danielballan opened #49 "TODOs v0"
Notes from @Mr0grog's comments on a call on what we need to do on the UI side for 'v0'

- Error handling
- Authentication
- Improving API between ui and db
- Who is assigned which URLs over which timeframes -- maybe use a Google Spreadsheet to manage this rather than building a separate UI for it

Later we can break this up into separate issues if that helps.

[2017-05-18 23:26] lightandluck commented on #35
Next step is to sit down with analysts to observe process and figure what to implement in UI. Waiting on clarification of who the right point person to coordinate this with (most likely @mayaad).

[2017-05-18 23:29] lightandluck commented on #42
For v0 we will likely implement this using Google sheets, so that we can easily reassign sites to analysts.

[2017-05-18 23:32] lightandluck opened #50 "Error handling for React app"
After the migration, the basic React app will need better error handling. As of now, it just goes on the assumption that everything works.

[2017-05-18 23:40] lightandluck commented on #41
Rob is currently working on this. And we may drop Typescript because it was an artifact from the original project and causing issues. The tech stack will probably React+Redux like Archivers 2.0

[2017-05-18 23:50] lightandluck commented on #49
Was there something specific for improving the API that should be done one the UI side? I don't think I caught what was said about that during the meeting. If not, we can close this because separate issues for everything else have been opened.

[2017-05-19 00:26] Mr0grog commented on #41
@kmcarter sorry this discussion has been radio silent for a while. I’m trying to get a rough React implementation in this week (see #48) so others can start to build on it.

Talking w/ @lightandluck, it sounded like Typescript may have been a bit of a barrier for you before; do you think the project would be easier to get up and running on without it? (Still using React, though.)

[2017-05-19 00:32] Mr0grog commented on #49
I was mostly thinking: better building out the [`services/web-monitoring-db`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/48/files#diff-4df3c64872ce4d576d96db40ae40fbb5) module. I’m only shooting to get the least it needs for the *currently existing* UI in #48, so it will almost certainly need some love in terms of querying, paging, interacting with changes, etc.

I thought it

[2017-05-19 00:36] Mr0grog commented on #44
Oh, this **is** probably a good (and relatively easy) place to start. The API should already provide everything necessary for it. :+1:

[2017-05-19 00:54] lightandluck commented on #41
@kmcarter Yes, our apologies, Kelly! I kind of fell off the map on this project as well. Just got re-involved 2 weeks ago. We'd be happy to have your help!

[2017-05-19 00:56] lightandluck commented on #44
Good idea, we can run them through PF for demo purposes too, if that's still around. Can someone pm me the key, if that sounds useful?

[2017-05-20 01:23] danielballan commented on #44
The PF requests are taking on average ~10 seconds to process via the public API so maybe better to wait until we can thread them through the -db app -- with our special access via the Google Cloud deployment and/or caching. I'll PM you the key so you can play around though.

[2017-05-24 22:28] #41 closed

[2017-05-24 22:45] Mr0grog commented on #39
This was resolved as part of #48.

[2017-05-24 22:45] #39 closed

[2017-05-24 23:30] Mr0grog opened #52 "Add tests! (And turn on CircleCI)"
I failed to get this done as part of #48, but we should set up:

- Unit tests
- Integration/browser tests
- CircleCI support for the above

[2017-05-26 01:52] Mr0grog opened #53 "Should this project switch from Typescript to JavaScript?"
In porting this project to React (#48) it became obvious that there’s some added complexity and friction in particular between Typescript and React. We want this project to be as accessible to new contributors as possible. The idea of dropping Typescript and just going back to JS (albeit still with some Babel compilation/bundling step) was floated on Slack, so I’m bringing that conversation over t

[2017-05-26 01:53] Mr0grog commented on #53
@Mr0grog: See also https://github.com/edgi-govdata-archiving/web-monitoring-ui/issues/41

[2017-05-26 01:53] Mr0grog commented on #53
@patcon: i don't know typescript myself, but my impression is that of all the "other" things to know, it's not one that someone would learn begrudgingly, as type systems seem very practical and on the upswing in favourability...?

but if there are anecdotes about it scaring people away, then that's def overriding!

i can imagine someone saying "i don't know typescript", and perhaps it sounds like

[2017-05-26 01:53] Mr0grog commented on #53
@mhucka: My $0.02 is that I'd aim for something that has broader familiarity, which would be Javascript rather than Typescript, unless there is something really crucial that argues for keeping Typescript.

[2017-05-26 01:53] Mr0grog commented on #53
@lightandluck: @patcon The basic components of the language itself are easy to learn, appeasing the compiler is the where most of the trouble stems from.

When Typescript is added to the build process, it complains about a lot of errors where code doesn't conform to what it wants. It takes some time to understand the conventions expected and how to fix the errors. Think of it like a linter that co

[2017-05-26 01:54] Mr0grog commented on #53
@Mr0grog: FWIW, I’d say the following: strong typing isn’t an issue on its own, but since JavaScript isn’t typed and we are always going to be using plenty of libraries that are not strongly typed, Typescript often becomes an exercise in massaging your code to work with the compiler in a way that is not the case in environments that are strongly typed at their core.

You have to make sure you acqu

[2017-05-26 01:54] Mr0grog commented on #53
@lightandluck: Totally agree that declaring parameter types and component interfaces is awesome, but the overhead is killer. :sweat:

[2017-05-26 01:54] Mr0grog commented on #53
@danielballan: No strong preference, but two observations:
- Jupyter weighed this decision for awhile, specifically interested in making the choice that would make their codebase as accessible as possible. They had concerns at first, but now feel that the typing is actually making it easier for new contributors to learn their way around the code.
- As someone who is a clumsy JS dev and recently st

[2017-05-26 01:54] Mr0grog commented on #53
@Mr0grog: Oh, that is a super-interesting anecdote! I didn’t know Jupyter was using Python 3's type annotations. (Would be nice if JS had blessed-by-the-language ones, but I don’t think any of the proposals have survived.) Good to know, also, that you’ve found it helpful.

FWIW, just to mark these out here, competing type annotation tools include Flow (https://flow.org) and tools that leverage JSD

[2017-05-26 01:55] Mr0grog commented on #53
@danielballan: Actually I meant Jupyter is using TypeScript. Jupyter is more a JavaScript project than a Python project these days. As an aside, very few projects are dipping a toe into Python 3's type annotations because the official line from the core devs advises caution. Since the annotations can mean whatever you want them to mean, there are concerns about composability across libraries with

[2017-05-26 01:55] Mr0grog commented on #53
@Mr0grog:

Heh, yeah, that’s what I’d thought and hence my surprise. I totally misunderstood, though :stuck_out_tongue:
(Similarly, I keep seeing ApiStar pop up as a good example of exactly what you’re talking about in action, though I haven’t looked into it.)

@danielballan do you have more info on that? (TS in Jupyter)

[2017-05-26 01:56] Mr0grog commented on #53
@danielballan: Sure. What aspect?

[2017-05-26 01:56] Mr0grog commented on #53
@Mr0grog:

- Having trouble finding .ts sources
- Any blog posts/writeups/discussions about what’s worked well/not well about it

[2017-05-26 01:56] Mr0grog commented on #53
@danielballan: We have had to roll some of our own ts sources, but they have all been short-lived: upstream projects are  taking this on themselves at a good pace. The discussions I've been in have all been in person, but there might be write-ups somewhere. I've pinged our gitter -- I'll let you know.

…

Nothing written down about the decision to use TS, unfortunately.

[2017-05-26 01:58] Mr0grog commented on #53
From this afternoon’s community call, @b5 noted he’s seen two other projects go React + Typescript, then back off for similar reasons. There was a general feeling that some tools work *great* with Typescript (e.g. Angular 2, Vue, Phosphor), but most of those were developed in Typescript or with Typescript in mind. React is/was not.

[2017-05-26 05:28] lightandluck opened #54 "Setup CSS pre- or post- processor"
Currently the project uses raw css files that are copied over to the dist folder directly when building. It would be helpful to use Sass or PostCSS for those files instead. I've only used Sass myself, but open to any suggestions.

Archivers 2.0 looks like they're using Sass, so in the interest of having a tech stack that coincides to increase transference of code and knowledge, I'd vote for Sass.

[2017-05-26 10:42] titaniumbones commented on #54
I'm not really relevant but I like the idea of standardizing our stack
across projects as much as possible. Also PostCSS looks lharder.

Kevin Nguyen <notifications@github.com> writes:

--

[2017-05-27 23:12] danielballan commented on #53
That's convincing.

[2017-05-30 16:21] b5 commented on #53
no surprise here, I'd vote to lose the TS. With the logic that it opens up opportunities to cross-pollinate with the archiving team's stuff. I'm thinking specifically about irritating-to-implement stuff like date pickers, valid form inputs, etc. We have lots of that stuff already written, also, we can bring more webpack / babel / sass build tools & publication pipelines to the mix

[2017-05-30 16:26] b5 commented on #54
Love to see sass make it's way into the project, but if we can find a convincing reason to use a different css preprocessor, I'd be happy to port archivers preprocessor over to maintain parity. The more community-oritiented answer is use sass, due to the widespread popularity of bootstrap, earlier versions of rails, and related projects. All of these drive _many_ people to learn sass.

[2017-05-30 20:29] #40 closed

[2017-05-30 20:35] Mr0grog commented on #53
Ok, I think we are generally leaning towards removing Typescript. I think we should leave this until next week—after the Mozilla sprint—to do because I think getting better docs, sane setup process, and clear issues ready for it are higher priority.

If anybody has more thoughts/comments to weigh in here between now and next week, feel free to keep posting.

[2017-05-30 21:29] Mr0grog commented on #54
I seem to keep winding up in the situation where I have both SASS and PostCSS both in use (most commonly: adding PostCSS for autoprefixing), so I have some interest in seeing if just PostCSS is feasible in order to slim down the stack. I am also curious if one of the many PostCSS import/include modules (5 by my count 🙁) solve the I-imported-this-file-twice-but-it-should-only-happen-once problem so

[2017-05-30 21:30] Mr0grog commented on #54
Anyway, I guess:

- If someone has time and wants to fiddle with stuff, I’d love to look into doing just PostCSS
- Otherwise, let’s just do SCSS and keep it simple. We’ll add onto that or change things if needed later.

[2017-05-31 04:19] lightandluck opened #57 "HTML/CSS mockups"
re: Mozilla Sprint, for a first-timers project, it would be nice to have designers look at the UI mockups and create basic html/css pages for us. They might not be perfectly in line with app needs, but having something to build off of would be great. And having designers make things "prettier" for us is welcome. Also, contributors wouldn't need any knowledge of our tech stack/build system. Html/cs

[2017-05-31 16:10] titaniumbones opened #58 "Add keyboard navigation to UI"
It would be nice ot have at least next/previous navigation available by keyboard as well as mouse. Some other shortcuts might also be helpful, e.g., toggling back and forth between dashboard view and individual page view.

[2017-05-31 16:20] titaniumbones opened #59 "More Meaningful Buttons in "Page Changes" view"
The current UI reproduces our legacy system of **numbered change categories** for page diffs. This has the advantage of continuity for our existing analysts, but is puzzling and a barrier to entry for anyone else. Our UI allows uders to toggle category definitions, but this seems to me to toggle between too little and too much information. Can we make this process more accessible by **switching fr

[2017-05-31 21:33] lazywithclass commented on #39
:+1:

[2017-06-01 00:21] Mr0grog commented on #39
@lazywithclass sorry for the crossed wires with this and #48. I don’t know if you saw my comment: https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/47#issuecomment-303785941, but we’d still love help if you’re interested in working on this project :)

If you have any strong feelings for or against Typescript, too, we’d love any feedback on #53.

[2017-06-01 07:02] patcon commented on #59
:+1: to emoji! :)

[2017-06-01 08:21] Mr0grog commented on #58
You can actually already go back to the dashboard from a page with the `esc` key. It’s a little ambiguous going the other direction, but we could probably use the last page you viewed.

You can also use the browser back/forward buttons or `cmd+←`/`cmd+→` (mac) or `ctrl+←`/`ctrl+→` (windows) to go back and forth (browser history should work fine in the new React app).

[2017-06-01 08:23] Mr0grog commented on #58
Since there is already some keyboard support, this would be a great issue for someone working on the Mozilla Global sprint to hop in and help on :)

See the existing keyboard support in [`page-details.tsx`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/components/page-details.tsx#L39-L58) for inspiration or show a better technique for keyboard shortcuts in React.js if

[2017-06-01 08:26] Mr0grog opened #60 "Display diffs on page details view"
In the page details view, we have a “Diff to be displayed here” placeholder. Now that the database API has a way to get diffs, we should start showing them in the UI.

More on the new diff API: https://github.com/edgi-govdata-archiving/web-monitoring-db/pull/60

[2017-06-01 10:40] lazywithclass commented on #39
@Mr0grog I am willing to contribute, at the time of this small PR I registered on Slack but couldn't really find somethiing to help with, do you have any suggestion?

[2017-06-01 11:38] titaniumbones opened #61 "Assign domains to users"
Each analyst team member is responsible for a set of domans/URL patterns. The UI should reflect this by only showing them those domains while they're working.

[2017-06-01 11:43] titaniumbones opened #62 "Add classifications to change"
The analyst team uses a detailed set of classifications for diffs (about 20 categories). We need to replicate this list to achieve parity with the current system.

We may eventually want to make this taxonomy team-specific, in much the same way that issue labels can be specified in Github organizations?

[2017-06-01 11:47] titaniumbones opened #63 "Allow quick copying of annotations to another row"
- analysts often want to copy annotations from one row to another.  We need some UI to allow this.
- sometimes similar types of changes are applied to a page repeatedly. It would be nice to have some way to indicate that a diff is similar to one we've seen before.

(@lightandluck I'm not quite sure I've translated your notes right, pls feel free to edit!)

[2017-06-01 11:50] titaniumbones opened #64 "Allow more complex queries from UI"
Admin users, at least, should be able to search changes by domain & URL, over particular time ranges, etc.  This search runction should be easy to use and responsive., and probably users should be able to bookmark particular searches so they can return to them and/or cite them once the interface becomes publicly available.

[2017-06-01 11:53] titaniumbones opened #65 "Identify "Backlog" = old, unannotated changes"
Sometimes a backlog of unannotated changes will accumulate within a domain. A "backlog" view should present such older diffs to users who e.g. have finished up their pressing work and have a little extra time.

[2017-06-01 11:57] titaniumbones opened #66 "Add "team" concept to UI, db"
Several of the features requested by the analysts are heavily tied to a "team" concept -- with tasks and roles assigned to team members. Cf. #61, #62, #65.  We should evaluate whether it's worth building this concept into our design, or if it's too much work/overhead at this pressing stage of development.

[2017-06-01 13:24] Mr0grog commented on #39
@lazywithclass more than anything, join in on n the community call today if you can at 6:30 ET.

We also have some issues tagged `mozsprint` for people to work on today and tomorrow: https://github.com/edgi-govdata-archiving/web-monitoring-ui/issues?q=is%3Aissue+is%3Aopen+label%3Amozsprint

Adding some starter tests is also good; I'm going to pick it up soon if nobody else does: #52 (FWIW, I was g

[2017-06-01 17:09] lightandluck opened #67 "Reusable JS script to insert banner to denote app is experimental or deprecated, etc"
The UI is undergoing a lot of changes at the time. It would be nice to have a script that could add a banner denoting that a certain stage is experimental, deprecated, pointing to staging data, live data, etc. And just as easily removed when those demarcations are no longer needed.

[2017-06-01 17:11] lightandluck commented on #67
Another use case here: https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/67

[2017-06-01 17:24] lightandluck commented on #49
Closing because tasks have separated into issues

[2017-06-01 17:24] #49 closed

[2017-06-02 15:33] titaniumbones commented on #57
Here's also a link to the [current REeact version of hte UI](https://edgi-web-monitor-ui.herokuapp.com/)

Also:
- [web UI tutorial](https://www.youtube.com/watch?v=MG5UOZ6Ck1E)
- [design discussion from 2 days ago](https://www.youtube.com/watch?v=5zMY-ZAmJ7E&feature=youtu.be)

[2017-06-02 17:07] tosfan4ever commented on #57
This is the most recent version of the demo:

https://edgi-web-monitor-ui.herokuapp.com/

[2017-06-02 17:09] tosfan4ever opened #68 "Errors when attempting to view diffs"
So after I hit "Last 2 diff" or "Last to base Diff" for any of the sites, the following error page keeps popping up for me:

![screen shot 2017-06-02 at 1 08 21 pm](https://cloud.githubusercontent.com/assets/12403634/26736589/c6b692d0-4794-11e7-9cd3-ea60a66d6817.png)

[2017-06-02 17:15] Mr0grog commented on #68
Yeah, you have to be logged into Versionista for this to work. We are also working on generating our own diffs so people don’t have to be trusted with login credentials:

- https://github.com/edgi-govdata-archiving/web-monitoring-db/pull/60
- https://github.com/edgi-govdata-archiving/web-monitoring/issues/12
- https://github.com/edgi-govdata-archiving/web-monitoring/issues/36

But for now, only a

[2017-06-02 17:17] tosfan4ever commented on #68
May I please be given the login credentials then?

[2017-06-02 17:19] Mr0grog commented on #68
I can’t give you those, but here are some example screenshots:

![screen shot 2017-06-02 at 10 16 40 am](https://cloud.githubusercontent.com/assets/74178/26736936/f0bc4380-477c-11e7-90bf-90f5a5aec3db.png)

![screen shot 2017-06-02 at 10 17 46 am](https://cloud.githubusercontent.com/assets/74178/26736938/f0bfc4a6-477c-11e7-84e5-1170aa050fa0.png)

![screen shot 2017-06-02 at 10 18 09 am](https://clo

[2017-06-02 17:20] tosfan4ever commented on #68
Okay sure thing, thank you!

[2017-06-02 17:20] Mr0grog commented on #68
(Those login credentials control paid accounts, hence the concern about wide sharing)

[2017-06-02 17:20] tosfan4ever commented on #68
Understood!

[2017-06-02 17:24] Mr0grog commented on #57
And if anybody needs some context for the part about viewing diffs (the two diff links in the demo won’t work for you unless you have special credentials), feel free to check this issue: https://github.com/edgi-govdata-archiving/web-monitoring-ui/issues/68

The idea is that we’d like show diffs sort of like what’s in the screenshots on that issue directly inline.

[2017-06-02 19:08] Mr0grog commented on #59
I’m not sure checkbox → button is an improvement—if someone accidentally or spuriously clicks a button, then we have give them a way to reverse the action (and from a user perspective, almost any choice on how to do so will be less clear and obvious than a checkbox or some kind of toggle switch).

Totally with you on the labels. I feel like reproducing the current naming system is the right place

[2017-06-02 19:14] Mr0grog commented on #59
Also worth noting: as we improve here, having a UI and a database and a custom display *also* lets us do more than just checkbox/toggle-style on/off fields: we can have select lists or text fields or who knows what else.

I know a lot of these fields (in spreadsheet land) are currently meant to be filled in as:

- `0`, meaning “no” or “not significant,” etc.
- `1`, meaning “sort of” or “maybe”
- `

[2017-06-02 19:20] Mr0grog commented on #59
@trinberg @ambergman is the above three-state situation right? Seems like, actually, checkboxes can’t model the results we want right now, anyway.

[2017-06-02 19:32] titaniumbones commented on #59
I was imagining a toggle that's sort of button shaped. like http://www.bootstraptoggle.com/ or something.

right.  And I guess the current naming system is actually just a set of integers! so, maybe chunky integer-labeled toggles with explanatory tooltips?

At some point we might be able to use emoji or color-coding as a more powerful visual cue --  for me, the integers aren't helpful, but it may

[2017-06-05 20:06] lazywithclass commented on #52
@Mr0grog I followed the README but I am getting

[code]
and

[code]

in the console, I am probably doing something silly. For example:

 * do I have to start the other two projects in order to see this one running ok?
 * is it ok to not change anything in .env?

Thanks and sorry if I missed something crucial

[2017-06-05 20:11] Mr0grog commented on #52
Oh, you should not have:

[code]

In your `.env` file unless you actually have a server running there. If you specify nothing, you get the staging server (which is `https://web-monitoring-db-staging.herokuapp.com`), or you can set it to the production server (`https://web-monitoring-db.herokuapp.com`).

We should probably change the URL in the example `.env` file to point to staging, sorry :\

[2017-06-05 20:23] lazywithclass commented on #52
Thanks for the prompt answer! That was it, I can work on the issue now.

[2017-06-06 15:15] lazywithclass commented on #52
https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/70

[2017-06-06 21:58] #68 closed

[2017-06-06 22:04] Mr0grog commented on #60
Some bits that have been rolling around in my brain that others thinking about this may not have thought through:

We’ll ideally want to display diffs & version content in an `<iframe>`, but not as merely pointing to some URL elsewhere on the web. This means that the implementation in React will be a bit more complicated.

- We’ll need to use React `ref` to get a handle on the `<iframe>` so we can

[2017-06-08 23:29] lightandluck opened #71 "Add watchify + errorify to gulp so that errors don't break watch task"
Right now, syntax errors break the gulp watch task, which is annoying to have to recognize and restart. We should incorporate the above plugins to have a better alert system for errors and not break the watch task.

[watchify](https://github.com/substack/watchify)
[errorify](https://www.npmjs.com/package/errorify)

[2017-06-09 11:37] KrzysztofMadejski opened #72 "Streamlined install"
While installing web-monitoring-ui I've run into several issues. I propose following changes. Let me know what you think about them. I'll send PR when you accept them
- change [.env.example](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/.env.example) to default DB development config:
[code]
- run gulp by `npm run gulp` to use local version in node_modules/.bin
- (optional

[2017-06-09 11:51] KrzysztofMadejski commented on #50
+1, if for example DB throws errors (https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/81) then UI doesn't take that into an account.

[2017-06-09 16:17] KrzysztofMadejski opened #73 "WARN deprecated: Please update to minimatch 3.0.2 or higher"
[code]

[2017-06-09 16:17] KrzysztofMadejski opened #74 "WARN deprecated: Please update to graceful-fs@^4.0.0 as soon as possible"
[code]

[2017-06-09 16:56] Mr0grog commented on #73
This is actually a problem in Gulp (see https://github.com/gulpjs/gulp/issues/1640) and they aren’t planning to fix it in v3—the fix will only be in v4, which is not out yet :\

Not sure there’s anything we can do here (other than drop Gulp, but I don’t think we want to do that). Will close unless you think there is a good alternative/workaround, @KrzysztofMadejski.

[2017-06-09 16:58] Mr0grog commented on #74
This is actually the same as #74.

[2017-06-09 16:58] #74 closed

[2017-06-09 17:11] KrzysztofMadejski commented on #73
If it's external and crucial to this project (just a warning) then I agree,
let's close it.

On Fri, 9 Jun 2017 at 18:56, Rob Brackett <notifications@github.com> wrote:

--
*Krzysztof Madejski*
Product Manager at TransparenCEE.org <http://transparencee.org/>
Code for Poland <http://codeforpoland.org> Program Manager / Koordynator Koduj
Dla Polski <http://kodujdlapolski.pl>
krzysztof.madejski@epf.o

[2017-06-09 17:13] #73 closed

[2017-06-09 18:05] lightandluck commented on #72
I think this should be left pointing at the staging site, so contributors to ui don't have to get db setup and running, less friction to get working on just this project.

+1, makes sense to have gulp in devDependencies and run locally so everyone is working with the same version.

+1, more documentation is great!

If this helps alleviate some confusion +1. We still want to keep the `watch` task t

[2017-06-09 18:12] lightandluck opened #75 "Add contributors to README"
Would be great to copy what web-monitoring-db has to honor contributors. https://github.com/edgi-govdata-archiving/web-monitoring-db/pull/75

[2017-06-09 18:16] Mr0grog commented on #72
I’m not sure that you should necessarily always be developing against your local environment. I set it to staging so that someone can pull down UI and immediately start working on it without setting up any other other services.

One alternative to this is to use Gulp’s recommended method: globally install `gulp-cli`, which gives you a `gulp` command that searches for a locally installed Gulp (e.g.

[2017-06-09 18:17] Mr0grog commented on #72
Other things I didn’t mention sound like good ideas to me—should have stated that explicitly.

[2017-06-09 19:33] Mr0grog opened #76 "Only show/allow annotations when there is a change to annotate"
This is a known issue, but I realized we haven’t written it down anywhere after https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/81 was filed.

The UI just naively allows you to try and annotate any version right now, but annotations are about *changes,* so the first version of a page is non-annotatable. We shouldn’t show the annotation form or allow people to try and submit anno

[2017-06-12 05:24] #52 closed

[2017-06-13 05:16] #75 closed

[2017-06-13 08:48] lightandluck commented on #42
Realized this issue is too broad. Breaking out tasking into it's own issue.

[2017-06-13 08:58] lightandluck opened #78 "Create simple user tasking using google sheets"
We want to create a simple tasking system using google sheets so that admin can easily assign analysts to domains. This is just a temporary system until we create admin pages for UI.

[2017-06-13 18:09] Mr0grog commented on #42
(That issue is #78)

[2017-06-16 10:29] KrzysztofMadejski commented on #71
Gulp-watch recommends using plumber [to catch errors](https://github.com/floatdrop/gulp-watch/blob/master/docs/readme.md#prevent-pipe-breaking-on-errors). How about using it?

[2017-06-16 16:25] KrzysztofMadejski commented on #72
Closed in #80

[2017-06-16 16:25] #72 closed

[2017-06-16 16:37] lightandluck commented on #57
@tosfan4ever's [write-up](https://medium.com/@tosfan4ever/mozilla-open-source-sprint-2017-41f8d631a124). Thanks for this!

[2017-06-19 18:31] lightandluck opened #81 "Allow analysts to filter versions by custom date ranges"
At present, the list view just looks for versions created over the last 3 days when presenting the list of versions as a quick way to filter the information. Ideally, we should allow them to search across any range or allow admin to set a range.

This should probably be near or part of the URL search bar at the top of the list view. We could start with a first PR that simply adds from/to or after/

[2017-06-21 23:57] patcon commented on #54
Would this be a good issue to tag as `first-timer`?

[2017-06-22 02:25] Mr0grog commented on #54
Generally I'd say no, since this is about making a deep, wholesale change to the way the app is built and put together. That said, the code base is *miniscule* right now, so this kind of change is relatively manageable at the moment.

If you are searching for things to tag, #58 might be a good candidate.

[2017-06-22 02:28] Mr0grog commented on #44
Oh no, not sure how I wound up creating #60, which is definitely a dupe of this. That one is a little more concise and clear with respect to what the DB has available now, though, so I'm closing this one instead.

[2017-06-22 02:28] #44 closed

[2017-06-22 03:43] lightandluck commented on #60
Did we ever get the pdf diff code from that person from Mozilla Sprint?

[2017-06-22 04:04] Mr0grog commented on #60
No, and unfortunately I lost track of it and didn't keep n touch on it for the last two weeks :(

I was just thinking about it yesterday and pinged them: https://github.com/edgi-govdata-archiving/web-monitoring/issues/36

[2017-07-05 19:05] lightandluck commented on #60
I found this [article](https://medium.com/@ebakhtarov/handling-of-iframes-in-react-f038be46ac24) that might be useful for dealing with iframes.

[2017-07-08 19:01] danielballan opened #83 "Essential diff UIs"
Essential:
- [x] red/green highlighted text diff
- [x] red/green highlighted source diff
- [ ] red/green highlighted rendered HTML diff
- [x] side by side HTML IFrames

For extra credit, some easy ones:
- [ ] simple indicator of whether bytes are identical (this could work in a list view of _many_ changes and a header)
- [ ] length of additions and length of deletion, similar to GitHub's red/green

[2017-07-10 06:23] Mr0grog opened #86 "Send “significant” changes to Google Sheet"
The process of annotating a change, marking it as significant, and then doing a deeper and more thorough analysis requires different annotation controls at each step, so we’ll eventually need to figure out how to address it all in the UI.

For now, though, we should ensure the "mark as significant" function in the UI also adds a line to a google spreadsheet (this should be handled on the backend,

[2017-07-10 06:28] Mr0grog commented on #53
After working together this weekend with @b5 and @danielballan, I think we are all feeling pretty strongly that TypeScript should be removed. For now, I think we are going to leave it until we can push out V0, but we should move back to JS as soon as possible afterward.

[2017-07-10 06:32] Mr0grog commented on #86
See also #38.

[2017-07-10 06:37] Mr0grog commented on #37
It looks like all @allanpichardo’s original code and these license blocks have since been removed (no disrespect to his very helpful work in getting this started!), so I’m going to close this issue.

[2017-07-10 06:37] #37 closed

[2017-07-10 06:45] Mr0grog opened #87 "Remove jQuery and Bootstrap"
**(This should wait until after V0 is done)**

We aren’t using Bootstrap’s features very extensively and otherwise have no need for jQuery (since we are using React), so I think it would be a good idea to remove these two dependencies.

[2017-07-10 15:56] #43 closed

[2017-07-11 01:53] neiljp commented on #60
Hi @lightandluck & @Mr0grog, just noticed this and wanted to check what the status was before returning to this.

[2017-07-11 15:12] danielballan commented on #60
Welcome back, @neiljp. You can base your work off of https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/82, which is a work in a progress but a big step forward from the current master branch.

[2017-07-11 17:05] danielballan opened #88 "Consider switching from gulp to webpack"
The archivers' repos are using webpack, so switching would reduce the number of different technologies in the EDGI stack. Personally, I have more experience debugging webpack than gulp, but I think @lightandluck and @Mr0grog's opinions are more relevant.

[2017-07-11 18:54] Mr0grog commented on #88
I would say Webpack is more of a replacement for Browserify than Gulp—it can do a little bit of what Gulp does but is in many ways orthogonal; a lot of projects use both Webpack and Gulp.

That said, we aren't using Gulp to do many of the things we could/should with it (really, if we’re using Gulp, we shouldn’t be calling anything directly with NPM scripts, so we should be managing app running, li

[2017-07-11 21:34] Mr0grog opened #90 "Update to Node.js v8.x"
Node 8 is the new LTS version, so we should upgrade to that when we have an opportunity. It’s unlikely we’ll need to change anything, but always good to make sure when upgrading major versions.

This work probably goes well with #53 and #88.

[2017-07-11 21:42] Mr0grog opened #91 "Upgrade to CircleCI 2.0"
Circle v2 is out of beta, so we should update when we get the chance. We aren’t doing anything complicated, so this should probably be fairly simple.

https://circleci.com/docs/2.0/migrating-from-1-2/

[2017-07-11 22:00] lightandluck commented on #88
I don't have much experience with either so have no personal preference.
Totally makes sense combining tech stacks.
![Powers combine](http://www.themorejewknow.com/uploads/1/2/0/9/12094351/6826869_orig.gif)

[2017-07-15 21:00] lightandluck opened #93 "Do we need concept of cycles in UI in the long run?"
I wanted to bring this up because of work @Mr0grog did for user tasking and cycles. For v0 it's nice to have for parity, but going forward, I feel we should discard the notion of cycles.  See this [discussion with](https://youtu.be/xTN3jOqIXGM?t=6m16s) @mayaad. Conversation lasts for about 3 min.

The idea of cycles comes from the constraints of the current process. The scraper pulls down changes

[2017-07-17 08:34] Mr0grog commented on #93
since we’ll now have continuous, queryable data, I do agree that we should list a page if it has any backlog of changes before the current analysis timeframe, but I don't think we should show changes *after* the current analysis timeframe. That is, when the analysis timeframe is July 7-10, the current CSV-based workflow shows only changes detected during that timeframe. In the app, we should show

[2017-07-17 19:25] lightandluck commented on #93
Agreed, it makes sense to have a cut-off point so analysts have the feeling of being "done".  But the issue of how to mark something as "done", store it in the DB, and display it is still up in the air. Maya and I also spoke briefly about [this](https://youtu.be/xTN3jOqIXGM?t=35m29s) (4-min). She makes very [good points](https://youtu.be/xTN3jOqIXGM?t=37m24s) 2 min in about being able to see your

[2017-07-18 10:54] janakrajchadha opened #95 "Created issue in the wrong repo by mistake, apologies."

[2017-07-18 10:55] #95 closed

[2017-07-18 21:10] #78 closed

[2017-07-18 21:12] Mr0grog opened #96 "Add navigation/routes for “all pages” and “my pages”"
Add routes and navigation to move between displaying a list of all tracked pages and only the pages the currently logged in user is assigned to monitor. See also: https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/79#issuecomment-314989435

[2017-07-20 14:41] lazywithclass commented on #64
Hello @titaniumbones, could you please expand on this? I am willing to provide this, or other if having higher priority.

[2017-07-21 03:25] titaniumbones commented on #64
Oh jeez @lazywithclass I am a little behind on the current state of the project.  The thought is:
- large numbers of web pages will make it hard for users to keep track of interesting/potentially important changes they have seen.
- It's true that "significant" changes are recorded in the database, but users will likely want to be able to search the data on other fields.
- ideally this searching ca

[2017-07-21 15:45] Mr0grog commented on #64
If it helps, all the current querying features are documented on API site: https://api-staging.monitoring.envirodatagov.org/ (click on the `/pages` endpoint)

You can use querystrings to filter by any combination of `site`, `agency`, `url` (which can have asterisks for wildcards), `title`, `source_type` (e.g. only get pages that have versions from `versionista` or `internet_archive`), or `hash` (p

[2017-07-21 15:46] Mr0grog commented on #64
And, if you get to working on this and we find other things worth filtering on, definitely file bugs on `web-monitoring-db` to add them!

[2017-07-21 16:21] Mr0grog commented on #64
Hmmm, actually those docs are incomplete; you can also query on:

- `capture_time` - gets pages that had new versions during a given time window. Should be in the format: `{start date}..{end date}` where dates are in ISO 8601 format. You can also leave out either date to make the query open-ended, e.g:

  - `2017-02-01..2017-03-01` for all of February
  - `2017-02-01T10:00:00Z..2017-02-01T12:00:00

[2017-07-31 22:16] #53 closed

[2017-07-31 22:16] #90 closed

[2017-07-31 22:18] Mr0grog commented on #61
Oops, this was done in #79 and not properly referenced. Closing!

[2017-07-31 22:18] #61 closed

[2017-08-01 00:26] Mr0grog commented on #62
This exists and works; closing. If we have more specific changes to annotations, we should handle each of those as new, separate issues at this point.

[2017-08-01 00:26] #62 closed

[2017-08-01 00:27] Mr0grog commented on #65
On the API side, this is edgi-govdata-archiving/web-monitoring-db#4

[2017-08-01 00:29] Mr0grog commented on #66
@titaniumbones can we close this? The specific issues referenced here are all complete (except backlog, which I don’t actually think is particularly “team-y”). Otherwise, this issue feels pretty fuzzy and we should try make it a bit more concrete.

[2017-08-01 00:34] Mr0grog commented on #42
Since #78 is done, I think we need to enumerate here exactly what else we need/want to support in this vein or close this issue for now.

[2017-08-01 00:36] Mr0grog commented on #60
This was solved in #82. Closing.

[2017-08-01 00:36] #60 closed

[2017-08-07 13:37] lazywithclass commented on #64
Thanks a lot for the explanation @Mr0grog, is @lightandluck back?

[2017-08-07 15:41] lightandluck commented on #64
Hi @lazywithclass! Sorry, for the delay. I just got back late last week. I was roadtripping and camping the last couple weeks, so have been completely removed from the project since then. Still trying to catch up on what's happened. I'm working on a simple spec for you to help provide context for this component and should be done sometime today. Thanks for your continued interest and patience!

[2017-08-07 22:38] #38 closed

[2017-08-07 22:38] #86 closed

[2017-08-08 08:45] lazywithclass commented on #64
No worries @lightandluck! I was also interested in understanding the priority of this feature over others, also would be great to understand how much web-monitoring-ui is used on a daily / montlhy basis.

[2017-08-08 19:31] Mr0grog commented on #64
The UI is not actively being used, partly for lack of this feature ;)

[2017-08-09 06:53] lightandluck commented on #64
@lazywithclass Thanks for asking those questions! In preparing, it helped me realize that this issue might not be the best place to start.

In answer to your questions, no one is using the UI right now. But the analysts, using their current workflow, have fluctuated between teams of 5-10 volunteers receiving new data sets every 3 days for the last 6+ months. I'm sure they split that work over the

[2017-08-10 01:52] lightandluck opened #102 "Add 'text: changes only' and 'source: changes only'"
As discussed at 8/9/17 web dev meeting, we should include the above diffs for v0. At this time we just need a simple implementation with changes and providing some context around the change.

I will try to tackle this to understand more how web-monitoring-processing works and how the UI gets the diffs from it.

[2017-08-10 17:29] Mr0grog commented on #102
If it helps, you probably want to either make a separate component that is similar to [`HighlightedTextDiff`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/components/highlighted-text-diff.jsx) or add a prop to it specifying whether to show unchanged content. Then, where it renders the `List` component, you’d just pass a different array for the `data` prop.

[2017-08-12 20:23] #42 closed

[2017-08-13 22:02] b5 commented on #88
Moving this comment from #92 for UI library & transpiler discussion:

#### Regarding Webpack

#### React Component Libraries

From @lightandluck:

@b5 response:

[2017-08-14 01:57] Mr0grog commented on #88
Re: webpack, I think we're all pretty on-board with making that switch. I got halfway into it with #53, but felt like it was too big in scope to see what was changing and clearly evaluate. I’ve failed to get back to it, so this is really just me dropping the ball.

Component libs: I’ll defer to your deeper analysis on material-ui, @b5. Let's strike that from consideration.

As for the others, I'm

[2017-08-14 12:46] b5 commented on #88
I'd be happy to jump in on the webpack stuff, as I've had to suffer through config more than I'd like to admit. Should be able to get a PR opened up this week for discussion.

I'm tempted to agree with you on the component library approach @Mr0grog. I find batteries-included solutions to be great right up until the moment they don't provide an obvious way to execute some special functionality you'

[2017-08-14 13:29] Mr0grog commented on #88
That’d be great!

👍 👍 That’s the flavor of UI lib I’ve always found most useful, too. Will try and comment on that context issue today.

[2017-08-17 11:30] lazywithclass commented on #64
@lightandluck I am taking care of the TODOs right now, I am not sure I could tackle them all because I lack some context here and there, it would be great though if you could give me test credentials. I've tried with [these](https://github.com/edgi-govdata-archiving/web-monitoring-db/blob/11c923fd469b8771490a7bd2f3180d040f713ba7/db/seeds.rb#L4) but I think I am looking at the wrong thing.

[2017-08-17 16:31] lightandluck commented on #64
Thanks @lazywithclass! I'm currently out all day at a workshop, but I can open up issues tomorrow to explicate.

@Mr0grog Can you set him up with a login?

[2017-08-17 16:48] lazywithclass commented on #64
That would be great, thanks both :)

[2017-08-17 18:58] Mr0grog commented on #64
@lazywithclass I just sent you an invite e-mail (to the e-mail on your GitHub profile) you can use to create an account on the staging server (`https://api-staging.monitoring.envirodatagov.org`). Just configure your `.env` file to have:

[code]

…and after you’ve signed up, your login should work in the UI app.

[2017-08-17 19:19] lazywithclass commented on #64
@Mr0grog done, it's working. Thanks!

[2017-08-18 16:50] lightandluck opened #107 "Give users an indication that annotations are updating and done updating"
We want go give users feedback when they apply annotations that it is happening and has finished. We haven't spent much time on visual design, so I'm proposing just changing text in the meantime.

1. The user clicks on `Update Record`, the text changes to `Updating...` while the request is being made. We can add `.dotdotdot` class to animate ellipses.
2. When the request finishes the text changes

[2017-08-18 17:13] lightandluck commented on #96
1. Create “My Pages” and “All Pages” routes.  The root route would display/redirect to “my domains” if logged in and ”all” if not.
2. Create two additional links in the header. `My Pages` and `All Pages` that correspond to the new routes. They will be new list items in `ul.nav`
3. A logged out user will not see these links, because they will only see all pages by default.

[2017-08-18 17:19] lightandluck commented on #64
@lazywithclass I opened up #107 and added more info to #96. I'm working on the other interaction issues I mentioned above. Don't worry about any other TODOs you see in the code, we'll get to them later.

Also, this issue is pushed to v0.1, so we'll address it then. Thanks!

[2017-08-18 19:07] Mr0grog commented on #107
Seems like a good start to me. 👍

Adding to the dictionary/important changes list should also trigger this behavior (since they are, under the hood, also basically just posting an annotation). Basically, whatever piece of state is tracking that an annotation is still being posted should probably be triggered by and affect the “update record,” “add important change,” and “add to dictionary” buttons

[2017-08-19 02:07] lightandluck commented on #107
Agreed ^^^ Copy everything I said for those actions as well.

[2017-08-19 23:52] lazywithclass commented on #107
Whenever I click on "update record" I get

Where `dagobah` is my hostname. I believe we could have the dev environment allow all origins for CORS, if you point me in the right direction I can have a look.

[2017-08-20 07:17] Mr0grog commented on #107
Augh! Looks like I broke authentication on the staging server when I upgraded dependencies on Friday. Thankfully that hadn’t been deployed to production yet! It should be fixed now. More info here: https://github.com/edgi-govdata-archiving/web-monitoring-db/pull/126

[2017-08-20 22:17] lazywithclass opened #109 "Update record gives 500"
Whenever I click "update record" on what seems to be every record, I get this

This blocks https://github.com/edgi-govdata-archiving/web-monitoring-ui/issues/107

[2017-08-20 22:23] Mr0grog commented on #109
You have to always post *some* data (see https://github.com/edgi-govdata-archiving/web-monitoring-db/pull/114, the “fix” would still return a `400` status error, it’ll have a better message, though). So the real change that needs to be made here is to either disable the button until some change to the annotation has been made or to make sure at least *something* is sent.

I think the correct appro

[2017-08-20 22:25] Mr0grog commented on #109
So, more specifically, the [`onChange` callback in `AnnotationForm`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/components/annotation-form.jsx#L93-L98) should grab the value of every field in the form and send it, not just the values of the fields that have had `change` events so far.

[2017-08-20 22:56] lazywithclass commented on #109
Ah whoops, sorry. I was convinced this to be a bug. Thanks for the detailed explanation!

[2017-08-20 23:15] Mr0grog commented on #109
Yeah, it would be a lot more obvious if the API returned a more informative error, which that PR should fix :\

[2017-08-22 19:02] lazywithclass commented on #107
@lightandluck I think it would be easier to have a loading icon somewhere, rather than changing the text, the reason is that whenever you want to update it to the agreed one we can just change it in the component rather than everywhere we changed the text.
Also, it would be much easier to me since I'm nowhere near a React expert / fan :D

[2017-08-23 00:09] lightandluck commented on #107
Sure, if it makes it easier for you. One thing you can try is to show the `<Loading />` component instead of the `<AnnotationForm />` while the app is updating. Or if you have something else in mind, go ahead and try it.

I'm new to React as well, so not sure what the best approach would be. Whatever you decide, can you add a short write-up describing design choices and reasoning here? It'll help

[2017-08-23 07:48] lazywithclass commented on #107
Sure I will!

[2017-09-06 13:56] #109 closed

[2017-09-08 15:36] lightandluck opened #112 "Add enhancement to handle loading errors in Diff View"
See [comment](https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/105#discussion_r137410121) from #105

[2017-09-08 17:30] Mr0grog opened #113 "Show changes to a list of a page’s links"
From the analyst meeting on 2017-09-06: it would be helpful and not too complicated to show analysts a list of all the links on a page and highlight additions or removals. I figure we should de-duplicate and sort the list alphabetically (by URL) to keep comparisons simple (the focus is on additions/removals/changes, not where on the page these are or if they are repeated).

Posting this in UI for

[2017-09-08 17:31] Mr0grog commented on #102
This was fixed in #105 and merged in 32cfc6287c6c3d8e63a2d3fdf4efcb219e5dccc8

[2017-09-08 17:31] #102 closed

[2017-09-08 17:51] danielballan commented on #113
I'm perfectly happy to do this on the processing side.

[2017-09-08 17:53] Mr0grog commented on #113
👍 perfect, let’s do that, then.

[2017-09-11 05:49] lightandluck commented on #107
Fixed in #111 and merged in [42598f9](https://github.com/edgi-govdata-archiving/web-monitoring-ui/commit/42598f93533ab0169e2044832f52eb7ab77f9f33)

[2017-09-11 05:49] #107 closed

[2017-09-11 22:54] Mr0grog commented on #59
Can we close this?

[2017-09-11 23:12] Mr0grog opened #115 "API now requires explicit request for `include_latest` in pages"
If we want the latest version (which we use in the list view), we need to either use the `include_latest` or `include_versions` flag in the API now. See also edgi-govdata-archiving/web-monitoring-db#132

[2017-09-12 05:31] lightandluck commented on #59
Yea, fixed via #92

[2017-09-12 05:31] #59 closed

[2017-09-12 22:33] #115 closed

[2017-09-13 19:01] lazywithclass commented on #64
@lightandluck I've seen you've taken #96, could I do something there or what's the next highest priority issue?

[2017-09-13 19:12] Mr0grog commented on #64
@lazywithclass I was actually about to file an issue for this, but animated SVGs don’t animate when used as a background in WebKit. Do you want to work on rewriting the `<Loading>` component to render the SVG inline?

[2017-09-13 19:14] Mr0grog opened #118 "Loading view does not animate in WebKit/Safari"
SVG does not animate when used as a background in WebKit, so the loading indicator doesn’t look so great there. The easiest solution here is probably just to render the SVG inline instead of as a background image.

[2017-09-13 23:35] lightandluck commented on #64
@lazywithclass #118 would be next highest priority. Sorry, I didn't check other browsers myself. I don't think it makes sense to split up work on #96.

We will be adding multiple issues having to deal with login, but are waiting on which permissions to add and having it implemented in -DB. It would be great if you helped tackle them. We'll ping you when that comes online and issues are created.

L

[2017-09-15 19:38] lazywithclass commented on #64
Whoops, sorry about that. I did it as a background image because I had problems understanding how to bundle the image file with the `Loading` component. I will try again!

[2017-09-15 20:52] Mr0grog commented on #118
No worries! This was still a big improvement over nothing at all and now we’ll make it better :)

The easiest approach might be to use an `<object>` element instead of inlining the SVG:

[code]

[2017-09-15 20:55] Mr0grog commented on #118
And if you want to inline it, it may be a good time to revisit #88. There are Browserify plugins to do the inlining, but Webpack also supports it. Since we plan to move to Webpack anyway, it’s probably better to do that than add a new Browserify-based tool.

[2017-09-15 21:29] Mr0grog opened #119 "Display login dialog automatically before loading any data"
This will be a temporary measure—we hope to make viewing all pages and each version of each page public again soon—so we should try and do this in a way that is reversible.

Pretty much all API requests besides logging in and checking login status will soon return errors if the current user is not logged in (see edgi-govdata-archiving/web-monitoring-db#122). We should get started now on having the

[2017-09-15 21:43] Mr0grog opened #120 "Hide/show UI elements based on permissions"
This depends on actually having permissions implemented in the API (edgi-govdata-archiving/web-monitoring-db#34), so we can’t quite do this work yet.

Once the API returns permission information for a user, we should use that to limit/modify what we display:

- A user might have all their basic view permissions revoked, in which case we should not request any data at all and display a message.

-

[2017-09-16 18:53] lazywithclass commented on #118
I just saw this comment, I've opened https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/122 but I am happy to revisit it using `object` over `img`, just let me know and I will go for the option that's best practice.

[2017-09-18 00:06] lightandluck commented on #120
Particular places in code recommended by mr0grog that would be related to this issue:
https://github.com/edgi-govdata-archiving/web-monitoring-db/blob/master/app/controllers/users/sessions_controller.rb

https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/services/web-monitoring-db.js#L329

https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/services

[2017-09-20 19:00] Mr0grog opened #124 "Look into using react-svg-inline or otherwise inlining SVG somehow"
This is a follow-on to #118 based on the notes from @garrying here: https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/122#issuecomment-330714272

Look into inlining our SVG graphics (just the loader right now), either using [`react-svg-inline`](https://www.npmjs.com/package/react-svg-inline) or something else. May require us to finally get our act together on #88 first.

[2017-09-21 23:48] lightandluck opened #125 "Add linting to CI"
Linting errors keep cropping up. We should add linting to CI so we are made aware of them in PRs.

[2017-09-22 23:51] #96 closed

[2017-09-22 23:59] lightandluck opened #126 "Add state management with Redux"
When the project was first migrated to React it was [small enough that we put off adding Redux](https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/48#issuecomment-303783316) but now [issues are cropping up](https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/117#discussion_r140591993) where it seems like we should re-visit this. I have no personal preference, but looks l

[2017-09-26 07:20] Mr0grog opened #128 "Explore ways to identify changes in hidden elements, like menus"
A common problem analysts run into is changes to parts of the page that are not visible by default, such as expanding/popup menus. What are some ways to we can aid analysts in discovering those without sending them to a diff of HTML source code they may not be able to read?

Some example changes (from Versionista):
- https://versionista.com/74273/6210787/12852237:11899871/ and
- https://versionist

[2017-09-26 07:23] Mr0grog opened #129 "Inform the user when a diff view has no changes to show"
Sometimes we have diff views that don’t show any changes, e.g. a change modified some attributes of an element, but if you are looking at the text diff, you won’t see any changes.

We should somehow call this out to save someone the confusion/second-guessing/wasted-time-double-checking so they know that, whatever it is that *did* change, the view they are looking at won’t help them.

[2017-09-27 16:38] #83 closed

[2017-09-30 20:46] danielballan opened #130 "Make a config var that causes everything but the diff view to be hidden"
For the initial rollout, we want to hide:

* annotations form
* "back to list view"

[2017-09-30 20:51] danielballan opened #131 "Add links to versionista to diff view to enable cross-checking (for now)"
Put this next to the Comparison select box. Obviously it will have to go away when we unplug Versionista. This is just to support bug-checking during the migration.

We will treat this as an escape hatch so that analysis can continue to do their jobs while we debug.

[2017-09-30 21:54] danielballan opened #132 "Remove side-by-side text option from menu"
Was judged not especially useful, compared to similar options

[2017-10-01 06:10] Mr0grog commented on #130
I think we want to get rid of “back to list view” permanently, since it is now covered by the links in the nav bar.

[2017-10-01 06:14] Mr0grog commented on #131
A fancy version of this might not present the link unless the two versions are both either:
- The earliest Versionista version of the page
- One of the most recent 49 Versionista versions of the page

(Versionista only keep 50 versions of any given page; we generally have it set to always keep the original, but worth noting that got missed on a few pages.)

[2017-10-01 06:21] Mr0grog opened #133 "Always send all form fields in annotation"
The API rightly rejects a empty, meaningless annotation, but we are still trying to send an empty annotation if you never check/uncheck any of the fields before clicking “update record.”

Instead, we should actually be sending the value for every field, regardless of what’s been clicked. These values are all either “yes” or “no;” there’s no “unknown” or non-value value that should be implied by no

[2017-10-01 06:35] Mr0grog opened #134 "Side-by-side rendered diffs should extend to the bottom of the screen"
On larger screens, you can easily wind up with a lot of wasted space at the bottom of the side-by-side diff that could be used to show more of the diffed pages:

![screen shot 2017-09-30 at 11 27 06 pm](https://user-images.githubusercontent.com/74178/31052347-05aa726c-a637-11e7-9e9b-56c68a4e65d7.png)

On smaller screens, it is is painful in the opposite way: the iframes for each page are scrollabl

[2017-10-01 12:58] danielballan commented on #131
Fancy or no, it would be good to give some indication to analysts that this is a temporary feature not expected to be 100% reliable. This could take the form of a UI element (like a tooltip) or just a verbal instruction.

[2017-10-02 05:13] Mr0grog commented on #118
This should have been closed in c5a9db7293e1132113ab8604b665d380d88863b7

[2017-10-02 05:13] #118 closed

[2017-10-02 05:15] Mr0grog commented on #119
This was done in #117 and merged in d6a888f3bcc9a0b984dc0c627c482c32006f94b6.

[2017-10-02 05:15] #119 closed

[2017-10-02 18:03] #132 closed

[2017-10-03 01:40] lightandluck commented on #134
@lazywithclass Sorry for the slow progress over here, but thought this might be an interesting issue, if you have time to tackle it. Option 2 might be more difficult, but preferred.

There are also new issues in the repo. Let me know if any interest you instead. Thanks!

[2017-10-03 19:26] Mr0grog commented on #134
FWIW, if we took option 2, we might want to make the form and other controls at the top `position: fixed` or `sticky` or something similar (sorry to be piling on the complexity here).

[2017-10-03 22:36] lightandluck commented on #134
Agreed, that would be useful.

[2017-10-05 08:54] lazywithclass commented on #134
@lightandluck sure! I will give it a go in the weekend.

[2017-10-06 00:54] lightandluck commented on #134
@lazywithclass Great to hear! I'm visiting family this weekend, so might not have a chance to review or help out until next week. Please ping @Mr0grog or @danielballan if you need to ask any questions. Looking forward to what you come up with! I've tried to tackle this briefly in the past and never could get something to stick.

[2017-10-06 05:49] #130 closed

[2017-10-09 08:20] lightandluck commented on #66
Closing.

[2017-10-09 08:21] #66 closed

[2017-10-09 18:20] #112 closed

[2017-10-10 12:13] lazywithclass commented on #134
I didn't manage to have something working, I've noticed that the empty area at the bottom is excluded from `body`, I don't know if that's a glitch in chrome dev tools or what. I will give it another go this week, but it seems a tough problem, especially for someone not CSS proficient like me :D

[2017-10-11 07:26] Mr0grog commented on #50
**TODO: Need someone to run through and catalog places in UI where errors aren’t handled.** Post back here as a checklist.

[2017-10-17 18:38] #71 closed

[2017-10-18 23:06] lightandluck commented on #134
@lazywithclass Sorry, for the late response, but had to deal with a personal emergency.

You might want to look in `diff.css` where the height of the iframes are set and maybe use flexbox to size them instead. None of those styles are set in stone, so feel free to change them as needed to get things working.

Also, to get the content of the iframes and set them programmatically, you could try usin

[2017-10-19 00:23] lightandluck commented on #113
Closing, as it was agreed to handle this in processing.

[2017-10-19 18:51] Mr0grog commented on #113
I think we still need to keep this open as a task to *display* that diff, though.

[2017-10-19 20:14] lightandluck commented on #113
Ah, true!

[2017-10-19 21:33] lazywithclass commented on #134
@lightandluck I will give it another go in the upcoming weekend.

[2017-10-25 19:13] #91 closed

[2017-10-26 01:19] #131 closed

[2017-10-29 21:09] don-harris commented on #125
Howdy, I'll help with this one !

[2017-10-29 22:11] Mr0grog commented on #125
Hey, @don-harris, this was just done a few days ago in #144. Sorry, I had thought this issue got closed.

[2017-10-29 22:11] #125 closed

[2017-10-29 22:46] don-harris commented on #125
Hey @Mr0grog That's alright :) thanks for letting me know

[2017-11-01 17:29] Mr0grog opened #145 "Add route for a single version"
Analysts have access to version IDs, so it would be nice if there was an easy way for them to navigate directly to that version in the UI using that ID. We’ll eventually have nicer links for them, but I think this would be a useful behavior, regardless.

I’m thinking this route would just be a redirect, e.g. if you navigate to:

[code]

[2017-11-01 17:35] Mr0grog commented on #134
@lazywithclass did you get anything done on this? Just checking in.

[2017-11-01 19:58] lightandluck commented on #145
+1 Very good suggestion

[2017-11-03 09:09] lazywithclass commented on #134
@Mr0grog I tried again in various moments in the last couple of weeks but without any real progress, the idea is to give it another go in the next days, if I'll fail again I'll have to pass on this

[2017-11-03 16:51] Mr0grog commented on #134
@lazywithclass OK. Please post back here and let us know where you do or don’t get on this; it’s kind of high priority, so we need to know someone else like me or @lightandluck should start working on it if you decide not to.

[2017-11-06 09:28] lazywithclass commented on #134
@Mr0grog I've tried again but without any success, I focused on trying to have a CSS solutions but it didn't work. I don't want to stop your progress anymore, so I say I move away from this, but will try again on my own, I will surely post here if I get onto something.

[2017-11-06 17:56] Mr0grog commented on #134
@lazywithclass Ok, thanks for the update.

[2017-11-06 22:26] danielballan opened #146 "Make it possible to add/change differs without changes to -db"
Two parts:

1. Add a config/env var that will go to the client

   https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/server/configuration.js#L7-L9

2. Change the `web-monitoring-db` service to use it for diff calls

    https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/services/web-monitoring-db.js#L232-L237

[2017-11-11 12:26] weatherpattern opened #149 "Update .env.example file with new api url"
Replace old url with: https://api-staging.monitoring.envirodatagov.org

[2017-11-14 15:23] #145 closed

[2017-11-17 00:07] #149 closed

[2017-11-26 19:57] Mr0grog opened #153 "Add “forgot password” functionality to login"
The functionality exists over in the API, but we should put a UI for it—or at least a link to the API page—here so people can find it.

[2017-11-26 19:57] Mr0grog commented on #153
(Prompted by someone forgetting their password and being unable to figure out how to reset)

[2017-11-27 00:38] #134 closed

[2017-11-27 22:47] lightandluck opened #155 "Add fallback for Intl api"
We're using `Intl`, a newer api, for date formatting. If it doesn't exist the app breaks.

For possible resolutions, excerpted from last part of this [comment](https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/154#discussion_r153136815).

[2017-12-09 21:31] Mr0grog opened #158 "Handle new diff format"
Web-monitoring-db is going to change the format of diff responses to be a little simple and cleaner. UI needs to adjust ahead of time to handle it. (See edgi-govdata-archiving/web-monitoring-db#181)

[2017-12-11 21:49] weatherpattern opened #159 "Add Pagination to Assigned Pages and All Pages"
All Pagination to the UI.

Are there any React libraries that use this easily?
If you need me to draw up some UX for this,  let me know.

[2017-12-11 22:29] lightandluck commented on #159
I think it should be straight-forward to create a component for this without using a library. If you have ideas for the UX that would be great to add.

[2017-12-12 06:33] Mr0grog commented on #158
[PR is up on DB](https://github.com/edgi-govdata-archiving/web-monitoring-db/pull/186); we need to get code working here before DB can merge and deploy, though. Happily, this will make diff data a little less deeply buried in nested objects (though only slightly).

[2017-12-13 08:00] #113 closed

[2017-12-13 16:17] danielballan commented on #146
We decided to take a different approach. Rather than allowing web-monitoring-ui to call to web-monitoring-processing's diffing server directly, all requests will (still) be proxied through web-monitoring-db. However, the overhead of adding a new differ route has been reduced. See https://github.com/edgi-govdata-archiving/web-monitoring-db/pull/184.

[2017-12-13 16:17] #146 closed

[2017-12-16 15:20] weatherpattern opened #162 "fix db link to monitoring.envirodatagov.org"
Step To Reproduce:
1. Log into API (https://api-staging.monitoring.envirodatagov.org/)
2. Click on "EDGI Web-Monitoring Database" link on the upper left-hand corner

Result:
Link points to https://api-staging.monitoring.envirodatagov.org

Expected Result:
Link points to monitoring.envirodatagov.org

[2017-12-16 17:29] lightandluck commented on #162
@weatherpattern I don't think the link was made to point to the UI. It's basically like a "Home" link that goes back to the main page. It's confusing because "Api" and "Database" are synonymous (which wasn't a conscious choice, just how things have evolved over time.)

That said, if that's the expected behavior @Mr0grog would have to change it. I don't have access to deploy the -db project. (And s

[2017-12-17 18:17] weatherpattern commented on #162
Ah. I don't know where I got that, I thought that is how it worked before. Will discuss and close if not necessary.

And yes, api-staging would point to the staging, and api-prod to prod.

[2017-12-17 18:44] weatherpattern opened #163 "Simplify / Improve List view column changes"
(Moved from Web Mon repo)  https://github.com/edgi-govdata-archiving/web-monitoring/issues/83#issuecomment-352116595

As discussed:

- replace `Output Date` column with `Capture Date`
- remove: `Page View URL` column
- remove `Last Two` column
- remove `Lastest to Base` column
- widen the `URL` column, if url is truncated, add a tooltip with the full url

[2017-12-17 22:41] Mr0grog commented on #162
Yeah, @lightandluck is dead on with this; it’s as intended. The DB is not supposed to really know anything about the UI—as far as the code there cares, there’s nothing in the universe it should know about other than itself and the diff server.

Part of the idea here was that the UI project is not really a canonical interface this this database; many people/orgs/teams could write interfaces that be

[2017-12-17 22:56] weatherpattern commented on #162
Got it. Thanks for the explanations. Closing the issue.

[2017-12-17 22:56] #162 closed

[2017-12-19 05:54] lightandluck opened #166 "Spinner shows endlessly on URLs for pages that don’t exist in database"
See: https://monitoring.envirodatagov.org/page/975102e4-5e13-4274-969a-f6dcb5f2b09b/5f1689cf-e7f1-45c7-917c-ebaa01856b5e..5f1689cf-e7f1-45c7-917c-ebaa01856b5e

[2017-12-19 05:56] Mr0grog commented on #166
Should we also remove the “none” option for the diff type? Or are you thinking of this as a replacement  for that option? (Seems like it could/should still be a different name)

[2017-12-19 06:58] lightandluck commented on #166
Yea, sorry for raising an issue and not proposing a solution. I noticed this before while working on #161 but didn't ticket it and then saw the conversation on Slack, so wanted to note it before I forgot.

We should remove the "none" option because it doesn't serve any function for the user. I feel we should redirect to the `highlighted rendered` view and signal to the user that the page they're l

[2017-12-19 08:13] Mr0grog commented on #166
Don’t be sorry, this is a good practice! It’s helpful to phrase the issue as an open-ended problem when doing that, though, e.g. “Spinner shows endlessly on pages with only one version” or something. That helps signal that it needs further thinking and discussion to determine an actual solution. You can always rename the issue once it matures into an actual task for someone to complete.

[2017-12-19 18:57] lightandluck commented on #166
Cool, that's a great process for handling issues! Will remember to do so and adding to my list of github tips

[2017-12-19 19:33] weatherpattern commented on #166
Totally agree with @Mr0grog . Definitely best to start with the problem, rather than the solution. (It's fine to suggest a solution if you have one handy.)

As an aside @lightandluck  (and i'm not suggesting we do this, but you mentioned Agile once): In Agile a common practice for writing "stories" (basically how we are using issues), is to phrase them with this format:"As an [ analyst], I want to

[2017-12-19 19:36] weatherpattern opened #167 "When no pages are assigned, spinner shows endlessly"
If an analyst doesn't have any pages assigned to them, the endless spinner is displayed.

Suggested solution:
Show message: You are not assigned to any pages.

Also, what happens if no diffs were found to assigned pages?

[2017-12-20 04:20] lightandluck commented on #166
@weatherpattern I've read briefly about user stories. I got them confused with the user stories that UX designers use. Similar but definitely different.

Yea, we don't have the capacity to do any of this strictly, but it's nice to learn about these techniques to help me approach problems with more than just my intuition. All this info is great, thanks!

[2017-12-20 05:44] weatherpattern commented on #159
@lightandluck
How about something like this?
(Also let me know if you need more annotation on the specs.)
If we want to break it up into parts, in order of importance:
- Page selector
Click on a page number, jumps to the page.
If 7 pages or less, button for 1-7 appear.
If 8 pages or more, show buttons for 1,2,3, and the last 3 pages.
If 1st page is being viewed, left arrow does not appear.
If last

[2017-12-20 17:15] Mr0grog commented on #159
Honest question: would infinite scrolling be any better here?

[2017-12-20 17:17] #129 closed

[2017-12-20 17:17] #158 closed

[2017-12-20 17:48] weatherpattern commented on #159
Good question. I thought about that. A challenge with infinite scrolling, is when the user has downloaded a potentially long list of rows, and then the user wants to navigating backwards/ upwards. If she is skimming say 300-400 rows and then needs to refer back to something in row 100, it can be difficult to find. Maybe she could use search, maybe this is an edge case, maybe it's anecdotal and my

[2017-12-25 21:26] weatherpattern opened #170 "Update ESLint to check for new UI practices"
~DO NOTE MERGE UNTIL Contributor pages has been updated.
https://github.com/edgi-govdata-archiving/web-monitoring/issues/81~

Update ESLint to test for the UI practices in the web-monitor and web-monitoring-ui repo contributor.md pages.

https://github.com/edgi-govdata-archiving/web-monitoring/blob/master/CONTRIBUTING.md
https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/CONTR

[2017-12-25 22:40] weatherpattern opened #171 "Check browser features for compatibility before loading"
Add check for supported browser  (last two releases) and

Also add, feature-focused load testing. If a browser doesn’t support the features we require, we should stop loading and show a message, rather than keep going and break arbitrarily somewhere while using the app.

Possible solution:
https://modernizr.com/docs

[2017-12-29 20:40] weatherpattern commented on #166
Moving this to  v0.0.2 Stop Versionista Imports.
For now, analysts won't discover this edge case, because they won't have an assigned page unless there was a change was found across two versions.
We'll want this fix when the analysts will be working in our UI, and doing their web page research there.

[2017-12-29 21:01] danielballan commented on #166
I would say this belongs to v0.0.4 -- the first milestone where analysts will be interacting with a list of Pages as opposite to Google Sheet with links to specific Changes. But I'm fine leaving it on v0.0.2 for now and punting it later if it isn't finished.

[2018-01-03 05:56] lightandluck opened #173 "Get analysts input to expand `Latest-to-base` functionality beyond Versionista"
Moving the conversation from #168 and setting aside spacetime to get more input from analysts.

[2018-01-03 05:58] lightandluck commented on #173
Mr0grog -

[2018-01-03 06:01] lightandluck commented on #173
lightandluck -

[2018-01-03 06:02] lightandluck commented on #173
danielballan -

[2018-01-03 06:03] lightandluck commented on #173
Mr0grog -

[2018-01-05 17:16] Mr0grog commented on #173
@titaniumbones -

[2018-01-05 17:17] Mr0grog commented on #173
@danielballan -

[2018-01-05 21:36] danielballan opened #174 "UI breaks if a Page has no versions"
This came up when a import job failed between Page creation and Version creation. Console screenshot:

![broke](https://user-images.githubusercontent.com/2279598/34629490-4c7ce30a-f236-11e7-90c6-f48183185cb3.png)

The UI should probably allow for a Page with no Versions, both in the list and page detail view.

Page Detail View: Display "No Versions" in diff area
List View: Display a placeholder th

[2018-01-06 07:36] lightandluck commented on #88
Wanted to leave some notes for things I found that would be useful when switching to webpack.

Currently, we use `babel-preset-es2015` and `babel-preset-es2016` packages. We can switch to [`babel-preset-env`](https://babeljs.io/docs/plugins/preset-env/), which supersedes those and uses  [browserlist](https://github.com/ai/browserslist) which is a nifty way to set which browsers to target for compi

[2018-01-06 07:52] lightandluck commented on #88
One thing I noticed is that `browserlist` should be added to `package.json` and everything should work with it. In my limited testing though, `autoprefixer` worked with the setting in `package.json` but `babel-preset-env` did not. `babel-preset-env` is fairly new so only the beta version worked with that setting. The current stable version has to include the setting in `.babelrc` or inline.

[2018-01-11 01:33] dphiffer commented on #50
Took a first shot at this: https://github.com/edgi-govdata-archiving/web-monitoring-ui/commit/bf3c52a894be5dda608de2268842d1e166c67ae7

<img width="533" alt="screen shot 2018-01-10 at 8 31 25 pm" src="https://user-images.githubusercontent.com/38114/34804197-45d936bc-f645-11e7-94f9-99b197814529.png">

The error in the screenshot makes me think there may be a need, on the db side of things, to imple

[2018-01-11 03:40] lightandluck opened #178 "Add automatic linting to dev build process"
Currently a developer has to either manually run linting or Circle lets us know on a PR but there's no notification of errors unless you're looking for it.

Might need to wait until #175 is merged before implementing, but it would help avoid simple errors like in [#177](https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/177/commits/7659400915a6ea093ec5102fc6b9ecbc7ffeaa8e) (Unused va

[2018-01-11 07:59] Mr0grog commented on #50
This looks great! I made some notes on your issue about sheets, but just to re-iterate, that part is fully contained in the UI project and doesn’t actually have anything to do with DB  😬

[2018-01-12 07:15] #88 closed

[2018-01-12 16:51] dphiffer commented on #50
Oh you're right, it's hitting the local API and not the db.

[2018-01-12 21:29] weatherpattern commented on #173
Another use case (especially once annotation are recorded in app):
- last time annotated (that is reviewed) by user
- last time annotated by anyone

Definitely agree with the statement, we can also ask the analysts directly, as well as user test options in staging.)

[2018-01-12 22:10] #163 closed

[2018-01-15 17:46] Mr0grog opened #179 "Don’t request diffs for PDFs"
We know we don’t yet have a differ that supports PDFs, so we should not request diffs for them (because they’ll always appear broken). Instead, we should:

- Show each PDF side-by-side for “Side-by-Side Rendered”
- Show the new PDF for “Highlighted Rendered”
- Disable all other diff types

Does that seem right? Or should we just show alternate options altogether for types that we know we can’t dif

[2018-01-15 17:49] Mr0grog commented on #179
This also goes for situation where the before/after versions are *different* mime types. This change, for example, is HTML (an error page) before and PDF after: https://monitoring.envirodatagov.org/page/4ca4bc6f-6dc2-4b01-8e7a-94d50baf276e/e053c830-029a-4925-88c2-114b370c4fcc..8c5583c7-02f2-4ee2-a495-748865dc1330

[2018-01-15 19:11] Mr0grog commented on #179
Quick survey of file extensions (our only reliable proxy for mime types right now):

| Extension | Count  |
| :-------- | -----: |
| html      | 449437 |
| pdf       |   3892 |
| ???       |   2377 |
| wsdl      |   1689 |
| xml       |   1506 |
| ksh       |    306 |
| ics       |    257 |
| txt       |    203 |
| rss       |    118 |
| jpg       |    106 |
| obj       |     87 |
| doc       |

[2018-01-15 19:32] lightandluck commented on #179
How would we find, on staging or production, versions that we could use as tests for those use cases outlined?

[2018-01-15 19:49] Mr0grog commented on #179
I would just do what I just did above, use a quick script to roll through the API (keep paging through `/api/v0/versions` until you get to the end or as far as you want to go) to find a PDF, for example.

You could probably also just search for `*.pdf` (or `*.whatever`) in the UI, though you’d only find ones where the *URL* has the file extension, and not ones where it was only in the `Content-Typ

[2018-01-16 08:45] Mr0grog opened #180 "Add URL support for comparing to “latest” or “base”"
Right now, you can view a given diff at:

    /page/{page id}/{from version}..{to version}

There’s a nice shortcut for comparing a version and its predecessor:

    /page/{page id}/..{to version}

But one link we spend a stupendous amount of computational time generating for analysts is comparing any given version to the “base” version of that page. It would be nice not to need to precompute this

[2018-01-16 23:07] dndodson commented on #67
Hi @lightandluck, I had Jury Duty today, AKA sit and wait pointlessly, so I used some time to mock up a dismissible warning banner. There's a lot I don't know about the data and what metadata is available via the API, so for demonstration this just does a string search of the API URL. Could be extended to be more intelligent.  I am not quite sure how the frontend should determine cases like "stage

[2018-01-16 23:48] Mr0grog commented on #67
Ohhhhh, I wasn’t actually thinking about the API in this at all when we originally proposed it (just about the UI itself), but pulling that info in is awesome (and probably much more important that which UI you are looking at) 👍👍👍

Should we try and show both here? Does that make sense, or is it too confusing?

I think examining the URL works great for now (to do better, we’d have to make some cha

[2018-01-16 23:52] Mr0grog commented on #67
That said, this is lovely functionality for other kinds of out-of-band alerts/warnings/feedback we might want to have :)

[2018-01-17 01:53] weatherpattern opened #181 "Allow Side by Side view panels to stretch / shrink"
Currently, in the Side by Side view, the width of the panels are static.

Add the ability to drag the middle border, left or right. The interaction will increase or decrease the width of the panel, and the web page displayed with re-render accordingly.

[2018-01-17 21:56] weatherpattern opened #182 "Make the header shorter"
Currently the UI header is taller than Versionista. Is it possible to make the header shorter, so that more of the diffed pages can be viewed.

Source: Feedback from Aaron
https://docs.google.com/document/d/1oc266scFn-svkEgehO-C4ntpuvxkLmO99YdjjZWeA34/edit

[2018-01-17 22:18] weatherpattern opened #183 "Make consistent single pages diff results (in a frame or not in a frame)"
For single page views...

The entire page scrolls (no frame) for: Highlighted text, Highlighted Source, Changes only source, Changes only text,
The results displays in a frame: Highlight Rendered, Outgoing Link.

I prefer showing these outside of a frame, so the analyst can see more of the page at one time.
Either way, it should be consistent.

[2018-01-19 04:02] weatherpattern opened #185 "In side-by-side view, when one version is corrupt, still allow the other side to render."
If what is happening is what I think it is, this isn't a high priority.
In the side by side view, if one capture is corrupted, UI throws an Error:Internal Server Error.
The right side should still be able to render.

Note, this is minor because there isn't anything to compare. That said, displaying the page that is ok, helps the analyst see which capture is corrupted with additional clicking.

Ref

[2018-01-19 07:55] Mr0grog opened #186 "Render word docs using Google or Microsoft embedded renderers"
This is kind of related to #179: like PDF and other non-text file formats, we can’t diff MS Word documents. BUT! Both Google and Microsoft offer iframe-embeddable renderers for Word docs, so we could use that to display the contents of the file, even if we can’t *diff* it.

Google: https://docs.google.com/gview?url=https://edgi-versionista-archive.s3.amazonaws.com/versionista2/74286-6216580/versio

[2018-01-19 07:59] Mr0grog commented on #186
See also this Stack Overflow thread: https://stackoverflow.com/questions/27957766/how-do-i-render-a-word-document-doc-docx-in-the-browser-using-javascript

[2018-01-20 02:34] weatherpattern opened #187 "Error: Fetched content does not match hash found on FERC URL"
Kendra found a url with this error:
Error: Fetched content does not match hash.

https://monitoring.envirodatagov.org/page/d6c252bb-b378-4c33-babb-bf117a76facd/7de87e40-acd2-444d-9821-24076ffbfb9a..a6e5811f-cc37-4182-85aa-4cd9cbef858a

Also Jake found a similar error:
https://github.com/edgi-govdata-archiving/web-monitoring-ui/issues/187

FWIW, Versionista is able to render this diff.

[2018-01-20 02:48] weatherpattern opened #188 "FERC page generated Error: Failed to fetch"
Scanner is not able to any of these pages.
Verisonista can't render the Jan 14 captures, but it can render the other captures.

https://monitoring.envirodatagov.org/page/76f6d82f-099a-48e1-93eb-569c8a0f52e9/62755593-55c8-49a6-a964-b7c7266645f3..e8532f5e-d202-4fb2-95c9-00f38949c473

https://versionista.com/74286/6216122/14285070:9444385/

[2018-01-21 08:16] Mr0grog commented on #185
This is actually a processing issue, can you post it over there?

[2018-01-21 08:16] #185 closed

[2018-01-21 18:18] danielballan opened #190 "Lock scrolling in side-by-side view."
As someone raised on Slack, it would be convenient if the left and right sides of the side-by-side view scrolled together. I think we should make it possible to turn this off interactively because its usefulness degrades as diffs diverge, but I guess that this feature would be helpful more often than not and should be on by default.

[2018-01-21 18:19] danielballan commented on #190
Provisionally filing this as v0.0.2 because it's part of feature parity with Versionista (which recently added this feature). Feel free to re-file if you disagree.

[2018-01-21 19:50] Mr0grog commented on #190
Ha, I specifically didn’t lock scrolling together early on because of this :P

[2018-01-21 23:04] weatherpattern commented on #187
Closing this issue and moving it to the DB repo.
https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/205

[2018-01-21 23:04] #187 closed

[2018-01-22 21:52] weatherpattern commented on #190
I agree with @Mr0grog this isn't a must have for 0.0.2.

Also, agree that unlocking/locking needs to be implemented when we do this, otherwise it will get annoying.

[2018-01-25 14:46] weatherpattern opened #191 "Review and install Google Analytics to Scanner"
Make sure relevant pages / sites in are being track in Google Analytics:

Scanner - Production
API - Production
-----
Scanner - Staging (needed?)
API - Staging (needed?)

[2018-01-25 20:23] lightandluck opened #192 "Save user's last diff type using localStorage/sessionStorage"
Currently whenever a user navigates to a change it defaults to the side-by-side rendered view. Analysts have asked that we save the diff type they were last using so that it doesn't always default to that view. https://archivers.slack.com/archives/C47DJK8H0/p1516715228000107

We can do this using localStorage the same way we've been storing if the annotation form is expanded or not. WE SHOULD NOT

[2018-01-25 20:45] Mr0grog commented on #192
Should probably set both session and local storage and, when reading, give sessionStorage priority (so you can have two windows with different preferences, but a new window will still pick up on the last used diff type).

[2018-01-26 01:28] weatherpattern opened #193 "Add url to page title (tab label)"
- Add the page url to the head title tag, so that the analyst can identify the page  by the browser tab label.
- Also replace “web-monitoring-ui” with "Scanner"

e.g. "Scanner | energy.gov/..."

From Sara:
It would be helpful to easily disambiguate among multiple open tabs if the page title in the tab were descriptive of the page. For example, rather than “web-monitoring-ui,” the page title appear

[2018-01-26 02:03] Mr0grog commented on #193
Which is preferable?

- “web-monitoring-ui | [page title]”
- “web-monitoring-ui | [page url]”

Both are similar effort (although page title brings with it the question: is the title the one from the latest version, the “to” version in the current comparison, or the “from” version in the current comparison).

We could also stuff the dates being compared and the type of diff in there. Will never fit

[2018-01-26 06:36] weatherpattern commented on #193
Good question. I'd say using the url is preferred, as that is how it is listed in the analyst sheets. Although unlikely, the page title has the potential of changing, which could lead to confusion.

Adding the dates is interesting, I guess that would be handy if analysts have the same url with different dates open in multiple tabs. That feels like overkill to me, but I can ask the analysts.

[2018-01-26 07:17] Mr0grog commented on #193
I guess I’m thinking more of its utility in other contexts besides tab switching, e.g. the back button:

<img width="777" alt="screen shot 2018-01-25 at 11 15 35 pm" src="https://user-images.githubusercontent.com/74178/35428774-da4bb766-0225-11e8-9523-990d320e61b7.png">

[2018-01-26 16:58] weatherpattern commented on #193
Thanks for talking through the options. Let me work on this, ask around, and think about this a little more. I don't think this is a critical feature request, so won't detract you any longer from your other work. I created an enhancement label, and we can finalize the solution, and figure out the right time to slip it in.

[2018-01-27 03:03] Mr0grog opened #194 "Add button to strip page formatting for HTML diffs?"
Sometimes the page layout can make it extraordinarily hard to see what changed (hidden menus, etc) or lead someone to see a different thing as the same (or vice-versa).

We’ve talked about having a [diff that simplifies the page layout](https://github.com/edgi-govdata-archiving/web-monitoring-processing/issues/101), but a more quick-and-dirty way to accomplish something like this fast might be to

[2018-01-29 16:22] Mr0grog commented on #67
@dndodson I know you’ve had to move in to some other things; were you planning to submit this as a PR or should someone else take this over? Thanks for the basic code you’ve proposed here, either way!

[2018-01-29 17:02] dndodson commented on #67
Yes, I had been meaning to tweak and create a PR. Apologies for the delay. I just did so with #195.

I used your suggestion of grabbing the environment name from the API url, and disabled the dismiss function, though I left the code there since I can foresee that being desirable for other use cases.

[2018-01-30 06:08] Mr0grog opened #196 "Add link from page details view to Internet Archive"
*(Updated 2019-06-17)*

Where possible, we should link to the original source of pages/versions from the Wayback Machine. Analysts typically include Wayback links and screenshots in their reports (partially because our tools aren’t public-access, but also because Wayback is a pretty good system of public reference in general), so having the links directly in our views would make that a lot easier

[2018-01-31 07:21] lightandluck opened #197 "Upgrade to React 16+"
Currently we are on React 15.5.4 but React is at 16+. We should upgrade to take advantage of nifty new features like [fragments](https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html) and [error boundaries](https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html).

This probably won't be a trivial migration, so opening an issue to flag until someone has the capacity t

[2018-01-31 09:09] #180 closed

[2018-02-05 01:50] #67 closed

[2018-02-06 01:49] weatherpattern opened #201 "Block page redirects and ask user how to proceed"
When Scanner finds a page with the redirect, raise up a pop-up window (in frame) with the text below.
Close link goes the pop-up and stay on the original screen.
Proceed link goes to the redirect page.

"This page has a redirect to this url:
url.com
Close                             Proceed"

[2018-02-06 06:30] Mr0grog commented on #201
Can you include an example case here? I‘ve lost track of the original concrete case that triggered it.

[2018-02-06 20:11] weatherpattern commented on #201
Sure.
Example:
https://www.epa.gov/region9/islands/guam.html
For reference:
https://monitoring.envirodatagov.org/page/7c675c7b-ac77-4ae2-9b86-3553c16b3c53/059e166e-f712-4803-b7c9-a192faf3ee13..f881540f-372d-4d05-b847-7f96fb85d67f

[2018-02-06 20:30] Mr0grog commented on #201
Ah, right, thank you!

So some redirects, like this one, which uses a `<meta http-equiv="refresh" content="0; url=https://www.epa.gov/pi" />` element, are easy to handle by removing them (or replacing them with a custom script) when we change the page’s `base` in [`SandboxedHtml`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/components/sandboxed-html.jsx#L67-L98).

O

[2018-02-06 21:11] weatherpattern commented on #201
We could break it into two part. One for the easy redirects, and another for script-based ones.

Wondering out loud if either of them is v0.0.2.

[2018-02-07 20:11] Mr0grog commented on #194
Moving to v0.0.2 since this pretty important if we can’t get to the proxying stuff.

[2018-02-14 21:53] weatherpattern opened #203 "Display Scanner page from Verisonista url"
Problem: Sheets still contain links to Versionista. It is easier to to look them up in Versionista than go back to Scanner and find the correct dates manually.

Possible Solution:
Implement new feature in Scanner search to accept versionista links. The search will map the submitted link to the same view in Scanner.

[2018-02-15 04:30] Mr0grog commented on #203
NOTE: this issue is mostly for tracking so we don’t forget about this right now. It’s low priority, but as we get closer to switching over to other data sources, we’ll want to make sure to revisit this and see if we still feel we need to do it.

[2018-02-15 22:08] weatherpattern commented on #203
Also, another option was to go through and rewrite the links to the sheets, but analysts were wary of losing data. Also, in the future, it might be helpful to know that annotations were created using the original diffs, instead Scanner diffs. So, maintain that information is important.

Adding extra columns to keep both sets of links was floated, but that would cause problems as information could

[2018-02-15 22:17] Mr0grog commented on #203
The task of importing those annotations is sorta-kinda tracked here: https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/61

Would be good to add that note there (that an annotation imported from sheets should have a field indicating that was the case).

[2018-02-16 03:41] weatherpattern opened #204 "Make new images changes easier to see"
Low priority
(from Kendra)
Sometimes a borders around new images is hard to pick up

In this example, the red border gets broken up.
Could there be a pink layer on top of it?
We still pick the changes in the source views so I don't think this is a critical fix.

https://monitoring.envirodatagov.org/page/d6671efa-b085-4514-a394-fe38a562aed9/922ed6c7-526b-481d-8a37-7e5e02a89c23..841c3d81-c252-4a7e-b

[2018-02-18 06:51] sammy1997 commented on #204
@weatherpattern  What chat platform do IA developers use?

[2018-02-18 17:42] #179 closed

[2018-02-18 18:09] Mr0grog commented on #204
Hi @sammy1997, we aren’t actually a part of Internet Archive at all. You should probably check out their actual GitHub org (https://github.com/ArchiveLabs) or their contact page online (https://archive.org/about/contact.php).

[2018-02-21 07:26] Mr0grog commented on #204
@weatherpattern this issue should really be on `-processing` right now—that’s where everything about the diffed HTML lives (including styling).

[2018-02-21 15:20] weatherpattern commented on #204
Moving to: web-monitoring-processing repo.

https://github.com/edgi-govdata-archiving/web-monitoring-processing/issues/160

[2018-02-21 15:20] #204 closed

[2018-02-21 18:22] weatherpattern opened #205 "Add new issue template"
Add a template for create new issues, as mentioned in https://github.com/edgi-govdata-archiving/web-monitoring/issues/97

Based on this template:
https://github.com/NSLS-II/bluesky/issues/new

[2018-02-25 15:53] #205 closed

[2018-02-28 17:58] Mr0grog opened #208 "Update uses of `site` and `agency` to use `tags` and `maintainers`"
Now that the updated API with `tags` and `maintainers` has been fully deployed, we need to update the UI project here to use the new properties instead of the old ones.

[2018-03-02 07:28] manaswinidas commented on #182
Is it still open? I'm interested to take this up.

[2018-03-02 18:12] Mr0grog commented on #182
This needs a lot of design consideration (if that’s what you want to do, great!). It’s not really ready for any technical work.

[2018-03-02 20:00] Mr0grog opened #209 "Upgrade to Webpack 4"
Now that Webpack 4 is out and has had it’s first emergency bug fix, it would probably be good to upgrade (big speed boost, supposedly). We don’t use many plugins, so that should hopefully be easy, but the new `mode` option will probably mean some rethinking of our config file.

Overview: https://medium.com/webpack/webpack-4-released-today-6cdb994702d4
Full release notes: https://github.com/webpack

[2018-03-03 03:53] manaswinidas commented on #182
@Mr0grog That's great! Where do I start?

[2018-03-04 21:16] lightandluck opened #211 "Improve environment banner to show we're pointed at localhost -db"
There is a useful banner that shows if we are pointed at staging-db or not, but doesn't show for other instances.
## Expected Behavior

It would be useful while developing if this banner also showed if we are pointed at localhost or production-db.
## Current Behavior

It only shows if we are pointed at staging-db

## Context

I accidentally made an annotation to the production-db while testing #21

[2018-03-07 19:52] lightandluck commented on #211
Notes from 3/7/18 dev call:
1) This banner should definitely not show in production. Haven't had a chance to look at it's implementation, but sounds like it could happen.
2) Move the banner to top of the screen, instead of the middle of page.

[2018-03-08 19:43] manaswinidas commented on #181
I'm interested to fix this!

[2018-03-08 20:19] weatherpattern commented on #181
hi @manaswinidas thanks for your interest in this, and also your help with our documentation!
would you like to join our slack channel?
https://archivers-slack.herokuapp.com/
I can help orient you in there.

[2018-03-09 09:52] manaswinidas commented on #181
Sure! I have joined the channel. Thanks for the offer

[2018-03-11 06:41] manaswinidas commented on #181
@weatherpattern Can I have your slack handle?

[2018-03-12 16:17] Mr0grog opened #212 "Be more graceful when Google sheets is not configured"
Enough people have hit confusion around the Google sheets configuration that we really should clean this up. The current status is that it’s “optional” in the sense that certain routes are expected not to work and the app won’t crash if not configured. But we log config errors in that case and people get confused. So:

- [Methods that retrieve data from sheets](https://github.com/edgi-govdata-arch

[2018-03-14 18:43] Mr0grog commented on #208
This was done in #210 and merged in 3a6362adb90516ce458aa08bfc12d7fe79133d70 by @lightandluck.

[2018-03-14 18:43] #208 closed

[2018-03-16 23:14] Mr0grog commented on #211
@lightandluck are you working on this?

[2018-03-16 23:31] Mr0grog commented on #203
So, to clarify here, what we’re saying is:

If you browse to `/pages` or `/assignedPages` and enter a URL in the search field like:

    http://versionista.com/####
    http://versionista.com/####/####
    http://versionista.com/####/####/####
    http://versionista.com/####/####/####:####

We should display links to any pages we have that match that page in Versionista instead of normal search re

[2018-03-16 23:43] Mr0grog commented on #186
For this, you’ll probably want to create a new view that renders a word document using one of the above methods.

Then modify [`RawVersion.render()`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/components/raw-version.jsx#L19-L33) and [`SideBySideRawVersions.renderVersion()`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/components/side-

[2018-03-16 23:49] Mr0grog commented on #155
To do this, we basically need to set [`dateFormatter` in `src/scripts/formatters.js`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/scripts/formatters.js#L3-L11) depending on whether `window.Intl && window.Intl.DateTimeFormat` exists.

[2018-03-17 01:34] lightandluck commented on #211
Sorry, no. Haven't had a chance to look at this yet.

[2018-03-19 01:22] Mr0grog commented on #182
(For clarity: we had a separate discussion on Slack about better issues to start with. We *do* need to find time to come back to this, maybe n conjunction with re-reviewing @tosfan4ever’s work from #57)

[2018-03-19 01:28] Mr0grog commented on #188
This is actually edgi-govdata-archiving/web-monitoring-db#205.

[2018-03-19 01:28] #188 closed

[2018-03-19 04:49] Mr0grog commented on #174
To clarify this issue, the [`PageList` component](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/components/page-list.jsx#L72) expects every page record it gets to have at least one version. It’s *possible* to have a page with not versions (though we try to make sure that generally can’t happen). The UI should handle this situation gracefully by either:

- Not showing

[2018-03-19 20:14] Mr0grog opened #213 "Set up automated Docker image publishing with CircleCI"
We should set up an automated workflow to publish Docker images whenever the `master` branch updates, like we do with DB: https://github.com/edgi-govdata-archiving/web-monitoring-db/blob/master/.circleci/config.yml#L71-L84

[2018-03-23 08:59] #213 closed

[2018-04-04 21:42] lightandluck opened #215 "Get versions on details page from` page/{page_id}/versions` api endpoint"
The details page currently grabs versions to populate the dropdowns using a version object that is attached to the page object. This version object will soon go away as explained in [this issue in -db](https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/264). We'll need to grab versions instead from `page/{page_id}/versions` endpoint.

[2018-04-05 05:27] lightandluck commented on #215
Also, we agreed that an acceptable cutoff point to limit number of versions returned, for now, is November 1, 2016. Is that right? @Mr0grog @weatherpattern

[2018-04-06 16:54] lightandluck commented on #215
Thanks for the guidance! I'll keep those points in mind. I'll be working on this later tonight and tomorrow.

[2018-04-11 00:29] lightandluck commented on #215
Hi @Mr0grog @weatherpattern @gblike,
So as I worked on this more, I became unsure what's the best approach now, so coded up some options.

[First option](https://github.com/edgi-govdata-archiving/web-monitoring-ui/tree/215-too-many-versions-kick-the-can-down-the-road), is to hard-code the cut-off date to Nov. 1, 2016. We would have to tell analysts this is happening. This is a short-term solution

[2018-04-13 17:45] Mr0grog commented on #215
Sorry for not commenting earlier. Getting some of my thoughts from the meeting in writing and expanding on them a bit here…

I think this is a good place to start.

I think we should leave this as-is, so that it continues to resolve against the cutoff date above (rather than earliest *actual* version. I think that will feel more consistent for a user.

Agree.

This seems like a great step 2. Howev

[2018-04-17 05:42] Mr0grog commented on #167
Fixed in #177, merged to master in e5b02589a96877d2b830b3f6c82e5528f1f2819e

[2018-04-17 05:42] #167 closed

[2018-04-17 18:13] lightandluck commented on #215
Thanks for all the input. I agree with everything and have been working that way! PR's coming soon.

[2018-04-18 19:58] patcon opened #219 "Add demo link as prominent repo url"
https://monitoring-staging.envirodatagov.org/

[2018-04-19 02:54] patcon commented on #219
I feel that's ok. This at least makes that fact candid. When we don't make it clear, interested people will be searching around, trying to find a link to the live website, right?

[2018-04-19 02:56] patcon commented on #219
And assuming we shared this link, my next curiosity was whether we could get to any way that interested people _could_ explore some demo UI without special access. But letting people know it exists seemed to be the first step, I suppose?

Should that other discussion happen first [and elsewhere]?

[2018-04-19 16:34] patcon opened #220 "Create public demo of UI"
Re-ticketed from https://github.com/edgi-govdata-archiving/web-monitoring-ui/issues/219#issuecomment-382776539

Thanks for your consideration, @lightandluck :)

I hope it's not presumptuous to transpose your and Rob's comments -- into :mag:facts, :heart:feelings, and :bulb:ideas -- so as to better engage with it.

(Generally, facts are things we all agree to be true. Feelings are subjective, not d

[2018-04-19 16:36] patcon commented on #219
Ok, sounds like on the specific ticket, this is a clear "not in favour". But the substance of demo as an important milestone feels really important, so I migrated that to a new ticket :)

https://github.com/edgi-govdata-archiving/web-monitoring-ui/issues/220

[2018-04-19 16:36] #219 closed

[2018-04-19 18:28] lightandluck commented on #220
Thanks for your enthusiasm and love the feelings you have about the project! I think I share all of them. I recognize having something like this would help augment our limited resources and feature flags would be helpful ongoing.

A sticking point is that access to the api, and therefore everything useful (content & diffing), is restricted by login credentials. And how to open that up to the publi

[2018-04-19 18:55] lightandluck commented on #220
And just to reiterate, I want this as badly as you do! (_I mean I just suggested it a couple days ago_) But figuring out how to do this well, at least, I don't have the bandwidth for. We're really trying hard to get our deployment down and also get off Versionista. I would love to revisit this once those are settled.

[2018-04-20 16:11] patcon commented on #220
Totally. Thanks @lightandluck! I definitely feel where y'all are coming from. I'm equally excited to see action on the horizon as opposed to now :)

Without expectation of near-term action, I'll add a few more comments, hopefully building on yours:

1. :mag: The dynamic real API is restricted by login credentials.
1. :mag: The swagger JS client can be pointed to [any API endpoint](https://github.c

[2018-04-23 23:46] lightandluck commented on #220
Thanks, Pat, for sparking this convo! I've been thinking about it a lot over the last few days. I agree, all the facts are true. And honestly if it was up to me _**only**_ I would
1. 💡Use feature-flags to hide annotations and assigned pages, instead of the [hack](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/e5b02589a96877d2b830b3f6c82e5528f1f2819e/src/components/change-view.jsx

[2018-05-09 18:40] #215 closed

[2018-05-19 00:12] #178 closed

[2018-06-04 07:02] Mr0grog commented on #194
Adding for clarification here: we identify all the special stylings/scripts that the diff adds by giving them IDs or classes prefixed with `wm-`. So  a dumb but workable implementation of this is probably to just update [`InlineRenderedDiff`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/components/inline-rendered-diff.jsx#L23) and [`SideBySideRenderedDiff`](https://g

[2018-06-04 07:04] Mr0grog commented on #194
Side note: feels like we are well past the time when it’s safe to remove the transforms to support old-style diffs: https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/components/side-by-side-rendered-diff.jsx#L22-L30 🎉

[2018-06-08 17:34] Mr0grog opened #226 "Add support for Sentry releases"
We should add support for posting release info to Sentry from CI when we merge to master so we can automatically connect reports in Sentry to PRs and commits. See the docs: https://docs.sentry.io/learn/releases/

[2018-07-28 15:41] Mr0grog opened #228 "Remove edgi-web-monitor-ui.herokuapp.com or replace it with a redirect"
The app running at https://edgi-web-monitor-ui.herokuapp.com/ is super out of date and no longer official (since we have *long* since switched to https://monitoring-staging.envirodatagov.org). There are still some URL in issue floating around pointing to it, so we should either:

1. Take it down
2. Replace it with a redirect to https://monitoring-staging.envirodatagov.org

[2018-07-31 00:51] Mr0grog opened #230 "Strip inline `style` attributes when "Remove Formatting" is on"
This is kind of a follow-on to #194. These pages from EERE present as blank pages in the UI:

- Original URL: https://energy.gov/eere/buildings/home-energy-score
- Comparison view: https://monitoring.envirodatagov.org/page/4b670b77-9eb8-4fa9-906f-d40d3f95050e/826be402-08c8-434b-916d-1fe87ac708b1..b2b39ff1-d795-4268-8ffd-eee365064445

This is yet another flavor of
edgi-govdata-archiving/web-monitor

[2018-07-31 02:17] Mr0grog commented on #230
See here for the transform that strips out styles: https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/44192ab353e8132251434b0e7e847b9251f8bec8/src/scripts/html-transforms.js#L1-L12

I think we’d essentially just be adding a bit like this to that transform function:

[code]

[2018-08-03 15:54] jsnshrmn opened #236 "node-zopfli build process requires g++, not mentioned in README."
## Updated 2018-08-06

## Expected Behavior
yarn install should be happy in dev

## Current Behavior
yarn install fails, because the [required binary release of node-zopfli](https://node-zopfli.s3.amazona.ws.com/Release/zopfli-v2.0.2-node-v57-linux-x64.tar.gz) is no longer available. It's an outstanding issue with the [zopfli-webpack-plugin](https://github.com/webpack-contrib/zopfli-webpack-plugin

[2018-08-03 16:12] jsnshrmn commented on #236
Continuing to poke around, I can see that node-gyp is falling back to a build from source, but that it's failing.  I'll see if I can track that down any further.

[2018-08-03 16:20] jsnshrmn commented on #236
Here's some relevant build log
[code]

[2018-08-03 16:48] jsnshrmn commented on #236
This is looking like a compiler dependency issue. More to come.

[2018-08-03 16:57] jsnshrmn commented on #236
The build requires gcc-c++ where I had only gcc installed. None of the stack messages indicated that I didn't have the correct compiler! Might be worth noting in the zopfli section in the readme, as many rhel folks do many builds with only gcc installed.

[2018-08-06 21:07] jsnshrmn commented on #236
Closed by pr #243

[2018-08-06 21:07] #236 closed

[2018-08-06 21:40] lightandluck commented on #228
I deleted the app from heroku.

[2018-08-06 21:40] #228 closed

[2018-08-08 17:04] Mr0grog commented on #230
Nobody’s had any feedback, but I think we had general agreement on this in the dev call last week, so I’m stripping the question label and making this a task to do.

[2018-08-09 06:16] Mr0grog commented on #220
Can we solve this for now by simply:

1. Disconnecting staging from the scraper (so we aren’t live importing into it), and
2. Creating a [non-admin] account on staging with publicly known credentials?

There was some back-and-forth a while ago on edgi-govdata-archiving/web-monitoring-db#152 about whether we even *want* staging to match production (which it currently sort-of does because the scrape

[2018-08-09 06:18] Mr0grog commented on #220
Note we’ve had rough agreement that we aren’t worried about be careful on access to changes more than a month old, so as long as we strip any newer data from its DB and disconnect it from the scraper, we should be a-ok in the “can we make this public” department.

[2018-08-15 22:09] #209 closed

[2018-08-16 18:21] Mr0grog opened #253 "Update annotation form based on new analyst classifications"
The analyst team is exploring a new classification scheme. Additionally, they now have some nice, descriptive helper text to go along with the former scheme. The annotation form lives in the [`AnnotationForm` component in `src/components/annotation-form.jsx`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/d1fb175bfd5984844322eea8111c96cbefa73ffb/src/components/annotation-form.jsx

[2018-08-19 18:04] #230 closed

[2018-08-29 16:08] lightandluck commented on #220
@Mr0grog I like this idea! And looks like Dan and Patcon gave the thumbs up too.

This would also make it a lot easier to show people what we're doing and help recruit volunteers.

One thing to flag is that because we've been re-working the annotations, we'll probably want to import data with the settled changes.

[2018-08-29 18:15] weatherpattern commented on #220
A public demo would be great.
If we open things to the public, even for just a demo, we should determine
if the terms of use docs need to be implemented, and if so, put them in
place.

On Wed, Aug 29, 2018 at 12:13 PM Kevin Nguyen <notifications@github.com>
wrote:

--
http://www.weatherpattern.com

http://twitter.com/weatherpattern

[2018-08-30 19:56] Mr0grog commented on #220
Does that apply here, though? I don’t think we should be surfacing analysts’ actual annotations in a public demo site, or at least not any time soon (this was the *biggest* and [in my view] most reasonable of all the original privacy issues). They certainly shouldn’t be on staging, regardless of private/public concerns.

[2018-08-30 20:09] weatherpattern commented on #220
I am not sure, it depends on the eventual functionality of the demo. I
raised the question to help ensure it is thought about.
By the way, the clinical produced two versions of the summaries of use, one
including annotations and one without.

On Thu, Aug 30, 2018 at 3:56 PM Rob Brackett <notifications@github.com>
wrote:

--
http://www.weatherpattern.com

http://twitter.com/weatherpattern

[2018-08-31 01:11] lightandluck commented on #220
Oh, yea, you're right! For some reason, I was thinking that the data input from the scraping was bringing along annotations, but of course that's not happening.

Whenever the form gets turned on, it will be usable in the demo? We just won't fill it with real data?

[2018-08-31 01:44] Mr0grog commented on #220
Well, we won’t fill it with *our analyst team’s data.* People would still be free to use it however they want, either by putting in meaningless stuff or real analysis. And we’d continue to make the same non-guarantee we do today about staging: everything could be flushed and totally reset at any time and we don’t consider any of its data to be worth preserving. At least that’s my proposal here.

T

[2018-08-31 01:56] lightandluck commented on #220
+1 Rob's proposal

[2018-08-31 02:48] Mr0grog commented on #220
OK, I’ve turned off live importing of data to staging, so from this point forward, it will cease to receive all the same data that we pull out of Versionista and send to production. That’s probably something we should have done anyway, but it’s also the first step here :)

[2018-09-02 18:39] Mr0grog opened #267 "Switch MAINTAINER to LABEL directive in Docker"
We use the `MAINTAINER` directive in our docker files, but it’s been deprecated:

- [`MAINTAINER` docs](https://docs.docker.com/engine/reference/builder/#maintainer-deprecated)
- [`LABEL` docs](https://docs.docker.com/engine/reference/builder/#label)

[2018-09-03 18:43] #197 closed

[2018-09-13 00:03] Mr0grog opened #280 "Add health check endpoint"
To support various tools (and in particular, Kubernetes), we should add an HTTP health check endpoint to the server. It doesn’t technically matter what it returns (but we should be consistent and return some JSON) so long as it is able to quickly return a 200 status code.

Other tools and use this to determine whether the server is healthy (and, if they have the rights, optionally kill and restart

[2018-09-13 00:10] Mr0grog opened #281 "Switch from Yarn to NPM"
Discussed this at today’s dev meeting — we want to keep things simple by not requiring an extra tool for dependency management. Yarn served us well, but NPM now supports the critical features we originally used Yarn for.

- Remove Yarn lockfile and add NPM lockfile
- Update README
- Update CircleCI config
- Update Dockerfile
- Update any deploy scripts/docs as needed

[2018-09-18 01:13] Mr0grog opened #287 "Add production build to CI tests"
This doesn’t need to be part of the normal test script, but simply running a production build and making sure it doesn’t error out would be an easy win for making me feel more comfortable merging Babel/Webpack/build-related PRs (e.g. #286)

[2018-09-22 20:12] gretchengehrke opened #288 "Search in "All Pages" reverts to "Assigned Pages""
@lightandluck

I'm working on a report right now and am trying to find pages that Justin Schell is monitoring in BLM. However, when I go to https://monitoring.envirodatagov.org/pages to search for the URLs, as soon as I paste in the URL I want, the screen (before I even hit "enter") automatically has the beige/yellow bar that says "You don't have any assigned pages" even though I am still on the /

[2018-09-24 15:59] lightandluck commented on #288
Apologies, @gretchengehrke, I was out of town this weekend. Put together a [PR](https://github.com/edgi-govdata-archiving/web-monitoring-ui/pull/290/files) that keeps the search bar visible so you can refine your search when no results are returned.

[2018-09-24 22:46] #288 closed

[2018-10-06 01:17] Mr0grog commented on #281
I think I’m going to go ahead and do this after #306 and #305 are in.

[2018-10-06 04:11] lightandluck commented on #281
👍🙏🏗🚀💪👍

[2018-10-10 13:46] #280 closed

[2018-10-15 03:48] Mr0grog opened #309 "Display automated analysis fields in UI"
The new automated analysis process creates annotations with a number of fields:

- `priority`
- `source_diff_hash`
- `source_diff_length`
- `source_diff_count`
- `source_diff_ratio`
- `text_diff_hash`
- `text_diff_length`
- `text_diff_count`
- `text_diff_ratio`
- `links_diff_hash`
- `links_diff_count`
- `links_diff_ratio`
- (soon to come) something about watch words: edgi-govdata-archiving/web-mon

[2018-10-25 02:07] Mr0grog opened #312 "Make "Load Resources from Wayback Machine" checkbox sticky"
The “Load Resources from Wayback Machine” checkbox has done a pretty good job of making our pages render more accurately, but it can also slow page loads down *significantly* for pages and sites that aren’t commonly in the Wayback Machine’s cache. That can really slow down some analysts’ work.

To alleviate that, we’d like to try making the value of the checkbox “sticky” — it should keep its value

[2018-10-28 17:55] #281 closed

[2018-10-28 17:56] #312 closed

[2018-11-21 17:23] Mr0grog opened #322 "Incorrect diff types presented for versions with `mime_type` instead of `content_type`"
Depending how the media type for a version is stored (we have several ways right now, see edgi-govdata-archiving/web-monitoring-db#199), we can misread media types and present the wrong sorts of available diffs. For example, this should only present plain-text-related diffs, not HTML diffs: https://monitoring.envirodatagov.org/page/a0ba1338-2d04-4ba4-9487-c6ff9be0383b/97490127-9a81-474b-a3dc-29afa

[2018-12-03 20:47] Mr0grog opened #331 "Display page and version status"
In edgi-govdata-archiving/web-monitoring#122, we’re trying to calculate and display whether a page has been removed. In the UI, we should do a couple things:

- [x] On the list view, show the page’s status code (maybe in or with friendly language rather than the actual code, since not all analyst know all the HTTP status)

- [x] On the detail view, show the page and version statuses, plus maybe so

[2019-01-10 05:32] Mr0grog commented on #76
This is an important fix once we turn the annotation form back on.

[2019-01-10 05:33] Mr0grog commented on #93
I think this is going to be an important question to revisit, but isn’t high priority right now.

[2019-01-10 05:34] Mr0grog commented on #128
Definitely still highly relevant.

[2019-01-10 05:35] Mr0grog commented on #133
This is an important fix.

[2019-01-10 05:37] Mr0grog commented on #54
I think some flavor of this is still important.

[2019-01-10 05:38] Mr0grog commented on #153
Still important.

[2019-01-10 05:39] Mr0grog commented on #120
Still a thing that has to happen.

[2019-01-10 05:41] Mr0grog commented on #190
Still relevant.

[2019-01-10 05:44] Mr0grog commented on #193
I feel like this is a feature still worth tracking, even though it’s very low priority.

[2019-01-10 05:45] Mr0grog commented on #212
This has been a barrier for some contributors, so I think it’s important to track and fix.

[2019-01-10 05:46] Mr0grog commented on #186
Still worth doing, even though we don’t have a whole lot of word docs.

[2019-01-10 05:47] Mr0grog commented on #87
This is still important cleanup!

[2019-01-10 05:48] Mr0grog commented on #174
This is a real bug that needs fixing.

[2019-01-10 05:49] Mr0grog commented on #81
So much needs to be re-worked on the list view. This should not be closed.

[2019-01-10 05:50] Mr0grog commented on #211
Augh. This is still a thing that feels important.

[2019-01-14 21:00] lightandluck commented on #58
Still would be great to have, but looks far off

[2019-01-14 21:02] lightandluck commented on #65
Still relevant and related to this issue in `-db`: https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/4

[2019-01-14 21:12] lightandluck commented on #63
Not sure how relevant this will be because we haven't worked on the UI for so long but not much has changed in the mechanical process for analysts, so I'd keep this open because it was an important feature that was wanted.

[2019-01-14 21:14] lightandluck commented on #35
Would be good to use as a starting point whenever we get analysts annotating in Scanner, but wouldn't be surprised if we scrapped everything

[2019-01-14 21:20] lightandluck commented on #183
Still relevant, low priority.

Does need some digging into because frames are necessary to display rendered pages

[2019-01-14 22:16] lightandluck commented on #181
Still relevant

[2019-01-17 09:49] #93 closed

[2019-01-22 16:54] Mr0grog commented on #50
No, just close.

[2019-01-22 16:54] #50 closed

[2019-01-24 03:36] Mr0grog commented on #201
Ugh, this is pretty important and we still haven’t done it.

[2019-01-24 03:40] Mr0grog commented on #159
Not high priority at the moment (analysts are still mostly using sheets), but critical as soon as we want to get away from task sheets generated each week.

[2019-01-24 16:58] Mr0grog commented on #57
I want to keep these around as something to work through and consider as we move towards re-activating the annotations UI.

[2019-01-24 16:59] Mr0grog commented on #171
This is more critical as we push towards getting this more publicly accessible, but I wouldn’t consider it high priority until we have authorization issues worked out.

[2019-01-28 04:31] Mr0grog commented on #196
We use Internet Archive snapshots in a lot of reports and analysis, so this is still an incredibly useful (and not too hard to implement!) feature — we might even consider it for *all* versions, even when they weren’t originally sourced from the Internet Archive.

[2019-01-31 16:04] geekyatri commented on #170
Is this still open @lightandluck  @weatherpattern

[2019-01-31 17:19] lightandluck commented on #170
Hi @geekyatri!
Yes, it is 👍

[2019-02-07 17:50] Mr0grog opened #343 "Add UI for editing tags and maintainers for pages"
Now that we are starting to actively use tags for organize the analyst task sheets, it would be really useful to be able to add some way to edit a page’s tags and maintainers in either the list view or page details view (or really, both). That way, folks on the analyst team don’t have to rely on developers to change tags & maintainers.

This can probably be broken down into some sub-tasks:

- [ ]

[2019-03-06 20:43] Mr0grog commented on #155
Fixed by @marlungu in PR #229, commit a57ebd50cb1c844fb33f60f378890dce16ca1601

[2019-03-06 20:43] #155 closed

[2019-03-27 04:30] Mr0grog commented on #192
We have a `layered-storage` module that can be used for this now. See #313 for an example.

[2019-04-01 17:33] Mr0grog opened #356 "Add integration test for Google Sheets"
So long as we use Google Sheets for some data, we should really have an integration test that exercises that code. I’d like updates like #352 to be as simple as knowing we’re good because CI is green.

Ideally, we can get some read-only access tokens for the tests sheets, so we can freely distribute a testable configuration.

[2019-04-01 18:31] #191 closed

[2019-04-24 21:34] Mr0grog commented on #64
The conversation here got way off track from the original intent. Just being able to search by URL is new since this issue actually got much discussion, I think. I’d like to file some more specific features on how we should change the list/search interface and retire this.

[2019-05-22 17:21] #174 closed

[2019-05-31 19:08] Mr0grog commented on #220
OK! We now have authorization support in DB, and I’ve created a user on the staging system (public.access@envirodatagov.org) that can only view.

What else needs to happen here?

- Probably add credentials for this user to our docs
- Is it critical that we get updated pages in versions from production moving regularly to staging? (I’d like to say no, though that’s a thing we should eventually get

[2019-06-12 03:54] #287 closed

[2019-06-17 18:11] Mr0grog opened #372 "Remove “view this diff in versionista” links"
We currently show links to diffs in Versionista when viewing versions that were sourced from Versionista:

<img width="1280" alt="versionista-diff-link" src="https://user-images.githubusercontent.com/74178/59626212-2ba07e80-90f0-11e9-8ea2-a53a5346542f.png">

**We should get rid of this:**
- Many of these no longer render a link because they are so old (Versionista only stores content for so long).

[2019-06-18 02:10] SYU15 commented on #372
Cool, will probably tackle this first then. Thanks for the background info!

[2019-06-18 02:12] SYU15 commented on #372
Or do you think I should make one PR to tackle both @Mr0grog?

[2019-06-18 06:06] Mr0grog commented on #372
Nah, I’d do separate PRs for each, personally.

[2019-06-20 01:25] SYU15 opened #373 "README link to tutorial for Google service account out of date"
[This tutorial](http://isd-soft.com/tech_blog/accessing-google-apis-using-service-account-node-js/) is from 2017 and no longer accurately reflects the flow for generating a service account key. As far as I can tell, you can't specify `Compute Engine default service account` anymore, you actually have to explicitly define the name and role before you can generate the credentials.

I was thinking of

[2019-06-24 16:30] Mr0grog commented on #372
Fixed in  #374.

[2019-06-24 16:30] #372 closed

[2019-06-24 16:33] Mr0grog commented on #373
I think that’s fine, but maybe we should include a note not to ever use a setup like that in production! :)

[2019-07-07 13:07] SYU15 commented on #196
Do you still feel we should add these links even to the pages that were sourced from Versionista? I am starting to look into this.

[2019-07-09 22:28] lightandluck commented on #182
Added `never-stale` label

[2019-07-09 22:30] lightandluck commented on #211
Added `never-stale`

[2019-07-09 22:33] lightandluck commented on #153
Added `never-stale` label

[2019-07-09 22:34] lightandluck commented on #120
Added `never-stale` label

[2019-07-09 22:35] lightandluck commented on #128
Added `never-stale` label

[2019-07-09 22:38] lightandluck commented on #212
Added `never-stale` label

[2019-07-09 22:40] lightandluck commented on #193
Added `never-stale` label

[2019-07-10 18:49] Mr0grog commented on #196
Yes! More:

For the version-level link (the one that comes from `source_metadata.view_url`), it’s only really applicable if the source was Wayback, but that’s a version-by-version question rather than a page-level question.

For the page-level link (e.g. [`https://web.archive.org/web/*/https://climate.nasa.gov/`](https://web.archive.org/web/*/https://climate.nasa.gov/)), I think we still always wa

[2019-07-13 18:26] SYU15 commented on #196
Ok, sounds good @Mr0grog. It seems to me that there are 2 urls being passed into the view, one for each page version that's being compared (`props.to` & `props.from`). Sometimes both have `source_metadata.view_url` from Wayback, other times one (or both, possibly, though I haven't run into this this case) is from Versionista and therefore doesn't have that field.

Am I supposed to only render `sou

[2019-07-14 12:42] Mr0grog commented on #196
For both of them if they exist.

Yep, this is by design. `source_metadata` has a standard schema based on `source_type`, so you should expect different data for a `versionsta` version than an `internet_archive` one, but you should expect that same kinds of data for any two versions with the same `source_type`. It’s basically all the additional data we could get from the source that might be unique

[2019-07-15 22:54] Mr0grog opened #382 "Ensure links in pages don’t load inside an iframe"
If you are looking at an HTML diff right now, clicking a link navigates the frame that the diff is in. That’s really problematic, because it can be unclear that the view you are looking at is:
- No longer related to all the metadata surrounding it in the view.
- No longer even a diff.
- In a side-by-side diff, it’s not even the same URL/page as the other side.

Instead, we should be handling link

[2019-07-20 21:56] #35 closed

[2019-07-20 21:56] #183 closed

[2019-08-01 19:09] Mr0grog commented on #196
Fixed in #381. We forgot to make sure the commit comment was formatted correctly to auto-close this!

[2019-08-01 19:09] #196 closed

[2019-08-09 22:35] Mr0grog commented on #382
To do option (1) or (2), you should be able to:

1. Add a new transform function to [`src/scripts/html-transforms.js`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/scripts/html-transforms.js) that modifies all links in the page (or possibly that adds a script that pre-empts clicks). Transforms are functions that take a DOM `Document` object and return an edited versi

[2019-08-14 17:29] Mr0grog opened #394 "Remove “Assigned Pages” View"
We should remove the “assigned pages” view. It:
- Isn’t actively used by analysts,
- No longer accurately reflects how we manage tasking for analysts, and
- Adds a fair amount of complexity to our API. For example, most of `src/services/web-monitoring-api.js` is dedicated to it: https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/403c46435e970afbd414aec7b93cc0224a15af3b/src/services/w

[2019-08-17 22:34] SYU15 commented on #394
Cool, I'll start taking a look into this, might have some questions about whether or not I'm ripping out the right stuff.

[2019-08-23 06:14] SYU15 commented on #54
Whoops, forgot to add a closing keyword to my PR, so manually closing this.

[2019-08-23 06:14] #54 closed

[2019-09-05 00:54] professionalzack commented on #382
@Mr0grog I am interested in trying this out, but haven't seen links in diffs yet. Do you have any examples of this issue so I can attempt to replicate? Thanks!

[2019-09-05 03:06] Mr0grog commented on #382
We found some while working in person, but if anyone else needs a quick example here, try this URL from our staging database:

https://monitoring-staging.envirodatagov.org/page/17cecc12-cdcd-4840-8100-e191ed37d226/2dfe989e-c571-40b0-8b25-ce8a3c5f630a..56c6d61e-36f5-4c33-8096-4da3c58484e6

Or if your local install is set up read from staging (that’s the default setup), you can use this URL to test

[2019-09-05 03:40] SYU15 opened #404 "Migrate CSS for environment-banner component"
Right now the CSS for this component lives in `styles.css`:
https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/css/styles.css#L478

This is vanilla CSS that is currently loaded at the global level but we are currently migrating our CSS to [CSS Modules](https://github.com/css-modules/css-modules).

Here is an [example PR](https://github.com/edgi-govdata-archiving/web-monito

[2019-09-11 02:00] SYU15 opened #406 "Migrate CSS for login-form component"
Right now the CSS for this component lives in `styles.css`:
https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/css/styles.css#L436

This is vanilla CSS that is currently loaded at the global level but we are currently migrating our CSS to [CSS Modules](https://github.com/css-modules/css-modules).

Here is an [example PR](https://github.com/edgi-govdata-archiving/web-monito

[2019-09-11 14:24] SYU15 opened #407 "Migrate CSS for page-list component"
Right now the CSS for this component lives in `styles.css`:
https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/css/styles.css#L130

This is vanilla CSS that is currently loaded at the global level but we are currently migrating our CSS to [CSS Modules](https://github.com/css-modules/css-modules).

Here is an [example PR](https://github.com/edgi-govdata-archiving/web-monito

[2019-09-16 03:34] #394 closed

[2019-09-16 23:38] Mr0grog commented on #128
While working on a different problem this afternoon, I hacked together a quick script for identifying elements with hidden content that could be used for this. It just draws a little orange dot on the top right corner of any elements with hidden children:

[code]

[2019-09-16 23:49] Mr0grog commented on #128
What probably should happen from here:

- Figure out how to best visually indicate the hidden change (this orange dot is probably not clear enough; we probably want some kind of icon, maybe with a tooltip on hover).

- Write a transform (see https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/scripts/html-transforms.js) that injects a script like the above (but with better

[2019-09-17 14:13] SYU15 commented on #128
This sounds super useful. Mind adding a screenshot to show what it looks like now?

[2019-09-17 16:39] Mr0grog commented on #128
Quick screencap from throwing the above script in the web inspector:

![invisibles](https://user-images.githubusercontent.com/74178/65061530-fd208280-d92e-11e9-89c1-7609765eb9b2.gif)

[2019-09-17 17:10] Mr0grog commented on #128
Another note on the above as to why this isn’t perfect: there is an element that changed in the container that holds the whole navigation bar, and it looks like no interactions on the page will ever make that element visible. So the orange dot over “Mission” in the menu is actually for the whole menu, and indicates a change you can never actually see no matter what you do. I’m not sure there’s any

[2019-09-26 03:45] SYU15 opened #411 "Upgrade react-router-dom to 5.x"
We are currently on version `4.3.1` of `react-router-dom` and are seeing a series of deprecation warnings like these in the application:

[code]

These deprecation issues are fixed the the most recent major version release [5.x](https://github.com/ReactTraining/react-router/releases/tag/v5.0.0), however there could very well be some breaking changes in this that will require us to refactor our cod

[2019-09-26 23:07] jatinAroraGit commented on #411
Hey there,
I would like to work on this issue.
Can you please assign this to me ?
Thanks.

[2019-09-27 04:28] SYU15 commented on #411
Sounds good @jatinAroraGit! Lmk if you have any questions.

[2019-09-27 10:50] jatinAroraGit commented on #407
Hi there,
I would like to work on this issue.
Can it be assigned to me please.
Thanks.

[2019-09-27 15:48] mastal88 commented on #406
Hi,
I'd like to contribute to solving this issue, but I'm getting errors from lint during commit

Could you help me with that?

[2019-09-27 18:47] Mr0grog commented on #406
Hi @mastal88, what does your directory & file structure look like, and where are you running `git commit` from?

[2019-09-27 18:51] Mr0grog commented on #407
That’s great! Would you please work through and complete #411 first, though?

[2019-09-27 19:07] mastal88 commented on #406
Hi @Mr0grog,
I haven't change the file/directory structure and I'm running git commit from the project folder - so basically what I've done:

- forked the repo

- git clone of my forked copy

- cd into project folder

- npm i

- npm run lint (and it ends with this no files found error)

[2019-09-27 20:20] Mr0grog commented on #406
Hmmmm, I can’t reproduce this. Would you please open a separate issue and include what OS, Node.js version, and NPM version you are using or hop on [Slack](https://github.com/edgi-govdata-archiving/web-monitoring#get-involved) to discuss it?

[2019-09-27 23:41] jatinAroraGit commented on #411
@SYU15 I updated the react-router-dom and there have been no warnings or errors in the build process. On running the "npm test" command, it still passed all the tests. I would dive more into the documentation of react-router-dom and see what changes have they introduced into v5.1.0 and possible effects.
Is there any way to provide a demo login and password to test the application on localhost so I

[2019-09-27 23:42] jatinAroraGit commented on #407
Sure @Mr0grog , on it.

[2019-09-28 15:38] SYU15 commented on #411
Thanks for your help on this @jatinAroraGit! @Mr0grog actually just checked in a helpful section to get you up and running with the app in staging: https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/README.md#installation

Can you follow the steps and let me know if you run into any issues? It would be great if you can confirm that the warnings no longer are thrown in the dev

[2019-10-01 02:14] jatinAroraGit commented on #411
Hey @SYU15 ,
After updating react-router-dom, the dev console logs depreciation warnings related to react-displace and react-aria-modal components. These components seem to still use ComponentWillMount instead of ComponentDidMount.
_react-aria-modal:_ Uses ComponentWillMount to throw errors related to not having title text and title Id.
_react-displaced_: Uses ComponentWillMount to render diffrent

[2019-10-01 03:54] jatinAroraGit commented on #407
Hey @Mr0grog ,
So I am finished with fixing this issue but cannot seem to pre commit it due to an error with patterns not matching.
The files waiting for commit are CSS and JSX files.
I get this error :
`> eslint --ignore-path .gitignore './**/*.{js,jsx}'

Oops! Something went wrong! :(

ESLint: 6.3.0.

No files matching the pattern "'./**/*.{js,jsx}'" were found.
Please check for typing mistakes

[2019-10-01 14:33] SYU15 commented on #411
Great! Thanks a bunch for working on this! Will take a look at those deprecation warnings you pointed out and maybe will create an issue for them.

Go ahead and make a PR for the upgrade :)

[2019-10-03 03:33] Mr0grog commented on #411
That’s OK — we can do a second PR for them. One thing at a time. :)

That makes sense — the React runtime won’t know there’s an issue until it’s given a component to render, and we don’t render `react-aria-modal` or `react-displace` until we show that login screen. It’s probably been logging that error all along, but we only noticed the router-related warning since they look so similar.

[2019-10-05 18:15] #356 closed

[2019-10-07 00:10] #404 closed

[2019-10-10 22:26] Mr0grog commented on #411
Hi @jatinAroraGit, I’m just checking in — are you still working on this?

[2019-10-11 01:15] SYU15 commented on #126
Reopening this as I feel like this topic needs to come back from the dead. Clientside state will become increasingly complex with the addition of more advanced search and re-adding annotations. I was considering adding the dependency possibly before date range search is implemented, but open to other ideas. Let me know if you have any concerns.

[2019-10-14 02:54] #411 closed

[2019-10-17 03:34] professionalzack commented on #267
working on this

[2019-10-17 03:51] katjone commented on #166
This is the url for the staging version --- I tried to log in with the credentials from our slack channel and it didn't work because I was using the production url from the first comment!
https://monitoring-staging.envirodatagov.org/page/975102e4-5e13-4274-969a-f6dcb5f2b09b/5f1689cf-e7f1-45c7-917c-ebaa01856b5e..5f1689cf-e7f1-45c7-917c-ebaa01856b5e

[2019-10-20 23:43] jatinAroraGit commented on #407
Hey @Mr0grog , did a commit addressing the requested changes. Let me know if there are any issues.
Have a good day.

[2019-10-21 23:06] #267 closed

[2019-10-25 18:31] Mr0grog opened #426 "Update to Node.js v12"
Node.js v12 is now the new LTS release, so we can consider updating to it. Useful highlights:

- Async stack traces
- Public and private class fields!
- Finalized worker threads implementation (not sure we have a use for it, though)

[2019-10-28 22:28] #173 closed

[2019-11-04 18:04] #407 closed

[2019-11-14 04:53] SYU15 opened #436 "Add loading state for when search queries are being fetched"
As our search functionality expands, it will be good to give the user feedback as we are fetching search results to avoid preemptive cancellation/modification of queries and such. Maybe some kind of overlay over the page results would be nice?

[2019-11-21 05:10] thecalliopecrashed commented on #126
Dibs!

[2019-11-21 08:42] thecalliopecrashed commented on #124
Looks like this was created to handle the loading spinner animation bug, but that's been fixed.
Is there further motivation for this?

[2019-11-22 05:02] SYU15 commented on #126
Thanks for offering @thecalliopecrashed. It'd be great to get this done though I am a bit concerned this will be a bit of a beast to tackle starting off since in my mind it would include refactoring at least part of how we load pages into the application as a proof of concept (maybe @Mr0grog has other thoughts though). We could perhaps split up this issue into discrete parts to make it more manage

[2019-11-23 00:53] johnsonphan95 commented on #436
I can go ahead and try to work on this, I've gone ahead and recycled the infinity loop loading animation on my local branch.

[2019-11-23 19:36] SYU15 commented on #436
That would be amazing if you could do that. Thanks @johnsonphan95!

[2019-11-24 02:53] SYU15 opened #438 "Save search state when transitioning between /pages and /page/:id"
Right now if you:

1. Make a search query on the main `/pages` route
2. Then click on a particular page entry (`/page/:id`)
3. Return to `/pages`

the list of pages still maintains the state of the last search query. This is confusing because the search bar's state resets so it is unclear to the user that the list of pages is also not reset.

We should persist whatever state is set in each of the

[2019-12-01 21:49] Mr0grog commented on #438
I think it actually might make more sense to make sure the right search query data stays in the search bar, rather than reset the current search. After all, the current search results are what guide the next/previous buttons in the page details view — the current search was meant to be “sticky” so you could easily flip back and forth between views. (No disagreement that the current state of affair

[2019-12-04 04:00] SYU15 commented on #438
I see, ok will change the nature of the issue now that I understand the original intent.

[2019-12-04 17:10] #406 closed

[2019-12-04 19:38] #220 closed

[2019-12-08 07:39] Mr0grog commented on #166
Hmmmm, it looks like the above URL is actually for a page that doesn’t exist in the staging database, but that’s still useful — it’s a different version of this same problem: the spinner is going endlessly when the requested page doesn’t exist. (We log an error to the console, but show the user nothing!)

On the other hand, we must have fixed the original issue at some point (spinner shows endless

[2019-12-09 19:13] #426 closed

[2019-12-12 03:38] steryereo commented on #87
I'm planning on working on this issue and I've been looking at what would be necessary for this migration. I think the simplest way to remove these dependencies without changing the project visually would be to create a new file like `base.css` or `shared.css` and copy the necessary bootstrap styles into it (mostly things like alerts, buttons, and form elements). I would probably opt for still bri

[2019-12-12 19:33] Mr0grog commented on #87
I think it’s wise to keep the changes relatively minimal here (fine if there are small aesthetic tweaks). Bigger design changes would be very welcome, but are a whole can of worms on their own with a lot of discussion. What I’d like to focus on *here* is removing a dependency that makes design/style changes harder to implement or understand. Let’s get [most of] the CSS all coming from the same sys

[2019-12-16 08:05] Mr0grog commented on #436
Fixed in #440.

[2019-12-16 08:06] #436 closed

[2019-12-21 21:06] #76 closed

[2019-12-24 04:13] #58 closed

[2020-01-04 04:46] #81 closed

[2020-01-06 00:22] #193 closed

[2020-01-09 08:14] Mr0grog opened #476 "Consider switching babel-preset-env's target environment for Jest"
Right now, our Babel config just happens to work happily in Jest because we track a new enough set of browsers that it also tends to be compatible with Node.js. Sometimes we have pretty funky problems because of that, though, like the issues I hit in #471.

(On the upside, this particular situations alerted us to a big change in how our browser query was getting handled. But that was probably more

[2020-01-16 02:44] #87 closed

[2020-01-16 20:16] Mr0grog commented on #63
I’m going to go ahead and close this as no longer especially relevant.

- Today, analysts have several tools in their spreadsheets that do a decent job of indicating changes that appear to be the same. We also make sure to group all those rows together instead of spreading them all over.

- We don’t have annotations in the app anymore. If we add that back, thinking about this issue might be useful

[2020-01-16 20:16] #63 closed

[2020-01-27 08:15] Mr0grog commented on #253
Re-opening this — getting annotations working again is a core need, and this is a core part of that, so this should probably not be allowed to go stale. If it goes stale again, we may need to rethink what we are really doing here with this project.

[2020-01-27 08:17] Mr0grog commented on #373
Reclassifying this as a bug, since it is actually incorrect documentation that is hard to get set up correctly without. Since all the Google sheets-related functionality is turned off right now, the right answer may also be to just pull this out or at least make it clear that you don’t need to set up a service key.

[2020-01-27 16:33] SYU15 commented on #373
Hmm...maybe remove it for now and then rewrite it when it is turned back on? I can make a PR for it if so.

[2020-01-27 18:41] Mr0grog commented on #373
👍 Sounds fine to me.

[2020-01-31 02:41] #373 closed

[2020-02-03 18:05] Mr0grog opened #489 "Look into whether we can optimize react-dates"
I missed this when we added [react-dates](https://github.com/airbnb/react-dates) in #422, but it inflated our JS bundle size from 256 kB to 844 kB! (Compressed: 72.6 kB to 204 kB). It’s now slightly larger because we dropped Bootstrap & jQuery (so less overall), but the main thing is react-dates.

This bundle is painfully huge. We need to see what we can do to slim it down, and that mainly means f

[2020-02-03 18:20] Mr0grog commented on #489
Looks like the biggest part of this is Moment’s locales. We can strip those with [moment-locales-webpack-plugin](https://www.npmjs.com/package/moment-locales-webpack-plugin). That brings us down to 679 kB, which is still huge, but better.

After that, Moment contributes 52 kB and react-dates contributes 223 kB.

[2020-02-03 22:33] Mr0grog commented on #212
The sheets-related methods still need to return early if not configured, but we removed the assigned pages view and all the associated bits (the most painful part people were running into) in #395 and #398.

[2020-02-04 23:39] #226 closed

[2020-02-11 05:15] Frijol commented on #382
This appears to be already implemented – can we close it?

[2020-02-11 05:23] Frijol commented on #190
Does this look like an appropriate approach? https://stackoverflow.com/questions/35238103/how-to-sync-the-scroll-bar-for-2-iframe

[2020-02-11 05:37] Mr0grog commented on #382
Argh, I thought this got closed as part of #405. Yes, it should not still be open.

[2020-02-11 05:37] #382 closed

[2020-02-11 05:41] Mr0grog commented on #190
Those are the properties and events you’d need, but because the origins of the pages and web-monitoring-ui app are different, you’ll probably need to use [`window.postMessage`](https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage) to move the information back and forth between the windows.

[2020-02-25 16:59] Mr0grog opened #494 "Intra-page links should not open in a new tab/window"
In #405 we made links open in new browser tabs/windows rather than navigating the diff view. That was a good improvement, but it also happens when clicking intra-page links, like the “Proposed Changes - A Holistic Approach to Closure Part B” link here:

https://monitoring.envirodatagov.org/page/c7a491b7-b296-4bdf-965e-372a87a7ac05/6f12e08a-a7f7-4ed1-8775-8c3791614fba..1fdefab4-bf6e-4829-892a-32c35

[2020-03-05 03:10] Mr0grog commented on #192
This was fixed in #477.

[2020-03-05 03:10] #192 closed

[2020-03-05 03:26] Mr0grog opened #505 "Open page details in new tab when cmd/ctrl+clicking on rows in page-list"
In most browsers, holding the cmd/ctrl key when clicking a link opens the link in a new tab/window. It would be great if that worked with the rows in [`PageList`](https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/master/src/components/page-list/page-list.jsx).

This mainly means checking the keys on the event object in `didClickRow`: https://github.com/edgi-govdata-archiving/web-mon

[2020-03-17 23:58] Mr0grog commented on #494
Update: this also applies to `javascript:` links!

[2020-03-18 02:14] Mr0grog opened #509 "Display information about a version’s redirects"
When we store versions for pages, we store the final response you’d see in a browser if you went to the page’s URL. For example, if URL x redirects to URL y, which redirects to URL z, what we show for the version is the content at URL z.

However, those redirects can change over time (that’s why we store them on the version, not the page). We should really display what redirects are happening some

[2020-04-01 19:35] Mr0grog opened #523 "Replace requests dependency"
We currently rely on *requests* (in the webserver portion of this project), but it’s finally been officially deprecated. We should switch to something else — probably node-fetch.

[2020-04-03 00:58] #505 closed

[2020-04-03 00:59] SYU15 commented on #505
Closed via #506

[2020-04-03 01:01] SYU15 commented on #494
I'll take this @Mr0grog

[2020-04-14 00:01] #170 closed

[2020-05-19 16:18] Mr0grog commented on #124
Oops, didn’t realize this was never replied to. :(

Actually, this was created to fix a bug with the fix. ;)

[2020-06-09 06:38] #126 closed

[2020-08-01 11:55] #253 closed

[2020-08-03 10:26] Mr0grog opened #581 "Resolve css-loader v4 + babel-plugin-react-css-modules incompatibility"
See also #580.

I messed up when checking dependency updates today, and upgrading from css-loader v3.6.0 to v4.2.0 totally hosed the layout. The core problem is that in v4, css-loader and babel-plugin-react-css-modules generate different hashes for identifiers. Specifically:

1. They depend on different versions of `loader-utils`, and the default hash type changed from md5 to md4. We can work arou

[2020-08-03 16:10] Mr0grog commented on #581
Thinking about this more, the ideal fix may be to just remove the hash from our identifiers. All the info involved in the hash is also in our current identifiers, so the hashes aren’t generally adding any useful differentiation for us, and are probably safe to remove.

The hash in css-loader is `hashPrefix` (which we leave blank) + `request` (the path to the CSS module file) + `localName` (the CSS

[2020-08-03 16:53] Mr0grog commented on #581
Obviously the other big option here is to just use the module functionality in css-loader without adding react-css-modules or babel-plugin-react-css-modules at all. We lose one really nice feature and a few minor conveniences:

- No build-time warning if you reference an non-existent CSS rule (or have a type in your name). This is a pretty useful feature we lose.

- When referencing CSS rules in o

[2020-09-17 04:58] #343 closed

[2020-09-22 01:51] Mr0grog opened #600 "`loadSubresourcesFromWayback` transform doesn’t work for pages with redirects"
The `loadSubresourcesFromWayback` HTML transform doesn’t work so great when redirects are involved, because we base everything on the *page’s* URL, rather than the final, redirected URL that the version was loaded from:

https://github.com/edgi-govdata-archiving/web-monitoring-ui/blob/5d4529624d7f6728906f0907891d42d3a26be57d/src/scripts/html-transforms.js#L83-L91

Instead of using `page.url` as th

[2020-10-13 06:33] #523 closed

[2020-11-11 03:47] Mr0grog opened #636 "Add workarounds for anti-framing scripts"
Some pages have anti-framing/anti-clickjacking code that checks whether the page is in a frame and hides the content and/or attempts to redirect the top frame to the page. For example, the https://www.census.gov/programs-surveys/economic-census.html has this code in the `<head>`:

[code]

Since we show pages in iframes, this is a problem. We set restrictions on the frame’s code so it can’t redirec

[2020-11-11 03:59] Mr0grog commented on #636
Example view with this problem: https://monitoring.envirodatagov.org/page/1de9a11d-330b-4a87-9926-6c6357b6f668/7dd9970c-b2ad-4cbf-aaa2-98e915ee03b0..7f6fb147-fb5a-481d-8d82-f0018c2449fd

[2020-12-02 20:16] Mr0grog opened #658 ""Remove Formatting" checkbox does not remove stylesheet `<link>` elements with multiple `rel` values"
Some pages load external stylesheets with `<link>` elements that have *multiple* `rel` values (`rel` is a `DOMTokenList`, not a single string). When pages do that, we fail to remove their stylesheets!

For example, try checking the “remove formatting” checkbox on this view: https://monitoring-staging.envirodatagov.org/page/6da848ce-fe21-40e2-a3d4-5d8a72029bf9/583d6eda-dc41-41f5-afc0-a71d41da8aea..

[2020-12-04 21:45] #124 closed

[2020-12-19 07:12] #438 closed

[2021-02-17 20:21] Mr0grog commented on #636
Seems like this is also in use by USDA, too: https://monitoring.envirodatagov.org/page/70a43879-1f5a-4530-b174-f2a510aec11e/c97ac84e-d837-4126-9365-fae4a9a85cb6..95bf5ef1-61f3-47b8-8b85-f29146df86ae
(That’s a capture of https://www.nrcs.usda.gov/wps/portal/nrcs/main/national/about/history)

[2021-02-17 20:23] Mr0grog commented on #636
FWIW, the “right” long-term solution is that we need to serve pages and diffs through a proxy (which probably needs its own subdomain to be safe) that acts kind of like a Memento API, and maybe uses Wombat (from PyWB). That’s a lot of work, though, and I’m thinking of smaller improvements we can make here.

[2021-03-16 07:45] Semigradsky commented on #581
`@dr.pogodin/babel-plugin-react-css-modules` fork works like a charm.

[2021-05-01 19:12] Mr0grog opened #730 "Switch to `@googleapis/sheets` instead of `googleapis`"
Google recently started publishing separate NPM packages for their different services, so we can get *just* the Sheets-relevant code by installing [`@googleapis/sheets`](https://www.npmjs.com/package/@googleapis/sheets) instead of code for *all* Google services. More important than simplifying dependencies, this reduces how frequently we see dependencies change and how carefully we have to evaluat

[2021-05-26 21:40] anuragb26 commented on #658
Hi,
I would like to work on this issue.
Can you please assign this to me ?

[2021-05-28 05:48] Mr0grog commented on #658
Great, thanks! You are assigned. :)

[2021-06-02 02:16] #658 closed

[2021-07-01 20:04] #730 closed

[2021-07-04 19:21] #600 closed

[2021-07-09 12:58] #489 closed

[2021-07-09 12:58] #476 closed

[2021-07-09 17:02] #509 closed

[2021-07-09 17:42] #331 closed